/*---------------------------------------------------------
- Root
---------------------------------------------------------*/

body { font-family:"Lato"; overflow:hidden; height: 100vh; display:flex; -webkit-user-select: none; }

/* we want everything to be flex and to use a sane box-sizing model */
body div { display: flex; display: -webkit-flex; flex-direction:column; -webkit-direction-flex: column; box-sizing: border-box; outline:none; }

.__root { flex: 1; }
.root { align-items:center; justify-content:center; flex: 1; overflow:auto; }

#perfStats { position:absolute; bottom: 10px; right:10px; color: #666; transition:color 0.2s ease-in-out; }
#perfStats:hover { color: #ccc; }

.canvas { height:100vh; width:100vw; }

.row { flex-direction:row; align-items:center; }

/*---------------------------------------------------------
- Article Editor
---------------------------------------------------------*/

.search-container { width:600px; padding:0 10px; max-height:60%; overflow:hidden; }
.search-container > *:last-child { padding-bottom:10px; }

.search-container .resize { position:absolute; bottom:0; right:0; width:18px; height:18px; cursor:nwse-resize; }

.container-content { overflow:auto; }

.entity-content { }
.entity-content .entity-blocks h1 { display: none; }
.entity-blocks > .entity { -webkit-user-select:auto;  padding:5px 10px; overflow:auto; max-width: 600px; min-width: 300px; line-height: 25px; }
.entity-blocks:first-child { padding-top:10px; }
.entity-blocks > .entity + .entity { }
.entity-blocks p + p { margin-top:10px; }
.entity .placeholder { font-style:italic; }
.entity pre { flex:none; display:block; white-space: pre-wrap; min-height:25px; }
.entity .header { width:100%; text-align:left; }
.entity h1 { font-size:16pt; border-bottom:1px solid #222; padding-bottom:8px; margin-bottom:10px; width:100%; }
.entity span { display:inline; }
.entity strong { font-weight: bold; }
.entity em { font-style: italic; }

.link { cursor:default; border-bottom:1px solid transparent;  }

.entity { position: relative; }

.entity.generated .source-link { display:none; z-index:2; position:absolute; padding:0 3px; padding-left:10px; right:0; top:0; bottom:0; border-left:1px solid #ccc; color:#ccc; font-size:22px; justify-content:center; }
.entity.generated:hover { background: #e0e0e0; }
.entity.generated:hover .source-link { display:flex; }
.entity.generated .source-link:hover { color: #555; }

.list-row .sub-group { align-items:flex-start; }

.bit { -webkit-user-select:auto; text-align:left; justify-content:center; padding:10px;  box-shadow:0 0px 0px #111; border-radius:0px; align-items:flex-start; }
.bit.small { height:30px; width:30px; text-transform:uppercase; }

.related-bits { flex-direction:row; flex-wrap: wrap; max-width:600px; }
.related-bits * { display:inline; }
.related-bits .related-list { flex-direction:row; margin-left: 5px; }
.related-bits .entity { flex-direction:row; }
.related-bits .entity + .entity:before { content: ","; margin-right:5px; }

.actions-container > .actions-header { padding:10px 10px; flex-direction:row; }
.action { flex-direction: row;  margin:0;  padding:10px; white-space:pre; justify-content:center; }
.action.new-bit { position:relative; flex-direction:column; padding:0; border:1px solid #222; margin:20px; margin-top:10px; }
.action.new-bit .bit { align-items:flex-start; }
.action.new-bit .remove { display:none; position:absolute; top:10px; right:15px; }
.action.new-bit:hover .remove { display:flex; }
.action .description { padding:0 10px; }

.add-card-editor { padding: 0 20px; position:relative; }
.add-card-editor .close { position:absolute; top:10px; right:30px; z-index:2; }
.add-card-editor .new-bit-editor { padding: 5px 10px; border: 1px solid #ccc; }
.new-bit-editor .header { font-size:16pt; padding-bottom:8px; }
.new-bit-editor .header-line { border-top:1px solid #ccc; margin-bottom:8px;}

.search-input { flex: none; flex-direction:row; font-family: "Lato"; font-size: 14pt; margin:0px; padding:5px 5px; border-bottom:1px solid #222; outline:none; justify-content:flex-start; align-items:center; }
.search-input .search-box { flex: none; min-width:100px; }
.search-input .close {display:none; margin-left:15px; }
.search-input .plan {display:none; }
.search-container:hover .close { display:flex; }
.search-container:hover .plan { display:flex; }
.search-input .CodeMirror.cm-s-default { font-size: 16pt; }

.spacer { flex: 1; }

.search-description { display: block; }
.search-description * { display:inline; }

.plan-container { padding: 5px 10px; margin-top:10px; }
.search-plan { margin-left: 10px; margin-top:5px; }
.search-plan * { flex-direction:row; }
.search-plan *:before { content: "-"; margin-right:5px; }
.search-plan > * + * { margin-top:3px; }

.search-container { position:absolute; min-width: 300px; z-index:1; }


.search-headers { flex-direction:row; border:1px solid #ccc; margin:0 10px; margin-top:10px; }
.search-headers:empty { margin:0; }
.search-headers > * { flex:1; align-items:flex-start;  font-size:11pt;  padding:5px 10px; }
.search-headers > * + * { border-left:1px solid #ccc; }

.search-results { margin:10px 10px; }
.search-results .path > * { flex:1 0; }
.search-results .sub-group { margin:0 0px; min-width:100px; }
.search-results .sub-group + .sub-group { border-left: 1px solid #222; }
.search-results .sub-group .bit { margin:0 0; flex: 1 0 auto; min-height:35px; }
.search-results .path + .path { border-top:1px solid #222; }
.search-results .sub-group .bit + .bit { border-top:1px solid #222; }
.search-results .path { flex:1 0 auto; flex-direction:row; margin:0 10px; border-left: 1px solid #ccc; border-right:1px solid #ccc; }
.search-results .path:last-child { border-bottom:1px solid #ccc; }
.search-results .path.list-row { border:none; }
.search-results .list-row::before { content: "-"; margin-right:5px;  }
.search-results .path.list-row + .path.list-row { border:none; margin-top:5px; }
.search-results .description { margin-bottom:10px; }

.search-results.inline { padding: 0; margin: 0; }

.CodeMirror div { display:block; }
.CodeMirror.cm-s-default { font-family: "Lato"; font-size: 12pt; height: auto;   }
.CodeMirror .CodeMirror-selected {  border-radius:2px; }
.CodeMirror .Codemirror-scroll { height:auto; }
.cm-s-default .cm-header.cm-header-1 {  font-size:16pt; }

/*---------------------------------------------------------
- Syntax editor
---------------------------------------------------------*/

.syntax-search .results { margin:20px 10px; border:1px solid #ccc; padding: 0; overflow:hidden; }
.syntax-search .headers { flex-direction:row; border-bottom:1px solid #ccc; }
.syntax-search .header { flex: 1 0 0; padding:5px; background: #ddd; }
.syntax-search .header + .header { border-left: 1px solid #ccc; }
.syntax-search .rows { overflow:auto; }
.syntax-search .row { flex-direction:row; flex:none; align-items:stretch; }
.syntax-search .row + .row { border-top: 1px solid #ccc; }
.syntax-search .field { flex: 1 0 0; padding:5px; justify-content:center; }
.syntax-search .field + .field { border-left: 1px solid #ccc; }

.syntax-search .error { margin:10px 0; padding:10px; white-space:pre; font-family: "inconsolata", "menlo", "consolas", monospace; color: #a00; }

.search-input .syntax-editor { flex: 1; margin-top:10px; }
.search-input .syntax-editor .CodeMirror.cm-s-default { font-family: "inconsolata", "menlo", "consolas", monospace; font-size: 12pt; }

/*---------------------------------------------------------
- Dark
---------------------------------------------------------*/

body.dark { background: #222; }
.dark .root { background: #222; color: #ccc; }
.dark .entity-container > .entity { background: #55a; color: #fff; }

.dark .link { color: #f88; }
.dark .link.found, .dark .entity { color: #92D4FF; }
.dark .collection, .dark .deck { color: #9f9; }
.dark .eav, .dark .attribute { color: #f9f; }
.dark .operation, .dark .value { color: #fa5; }
.dark .modifier { color: #99f; }
.dark .link:hover { border-bottom-color:#f88; }
.dark .link.found:hover { border-bottom-color:#92D4FF; }

.dark .bit { background: #333; }
.dark .bit.collection { background: #0a6; color: #222; }
.dark .bit.collection .collection { color: #fff; }

.dark .bit.entity { background: #55a; color: #fff; }
.dark .bit.value { background: #c63; color: #fff; }
.dark .bit.attribute { background: #a4a; color: #fff; }

.dark .action { background: #333; }
.dark .add-action > * { background: #333; }
.dark .add-action input { border-color:#777; }

.dark .search-input { background: #333; color: #ccc; }
.dark .search-plan * { background: #333; }
.dark .search-headers > * { color: #aaa; background: #333; }

.dark .CodeMirror.cm-s-default { background:none; color: #ccc; }
.dark .CodeMirror .CodeMirror-selected { background: #444; }
.dark .cm-s-default .CodeMirror-cursor { border-color: #999; }
.dark .cm-s-default .cm-link { color: #99f; }
.dark .cm-s-default .cm-url { color: #77f; }
.dark .cm-s-default .cm-header.cm-header-1 { color: #ccc; font-size:16pt; }

/*---------------------------------------------------------
- Light
---------------------------------------------------------*/

body.light { background: rgb(71,72,75); font-family: Helvetica Neue; font-weight:300; }
.light .root { background: rgb(71,72,75); color: #444; }
.light .search-container { box-shadow:0 2px 10px #333; background: #eee; }
.light .entity-blocks > .entity { background: #eee; color: #555; }
.light .entity-blocks > .entity + .entity { border-color: #ccc; }
.light .placeholder { color: #aaa; }

.light .entity .header h1 { border-color: #ccc; }
.light .entity h1 { border-color:#ccc; }

.light .link { color: #B74F4F; }
.light .link.found, .light .entity { color: rgb(53, 105, 183); }
.light .collection { color: rgb(86, 156, 127); }
.light .eav, .attribute { color: #A062A0; }
.light .pattern, .value { color: rgb(0, 127, 175); }
.light .modifier { color: #888; }
.light .link:hover { border-bottom-color:#B74F4F; }
.light .link.found:hover { border-bottom-color:rgb(53, 105, 183); }
.light .link.entity:hover { border-bottom-color:rgb(53, 105, 183); }
.light .collection:hover { border-bottom-color: rgb(86, 156, 127); }
.light .list-item:hover { border-bottom-color:rgb(53, 105, 183); }

.light .bit { background: #eee; }
.light .new-bit .bit.entity { background: #eee; color: #555; }
/* .light .bit.collection { background: rgb(115, 173, 149); color: #fff; }
.light .bit.collection .collection { color: #fff; }
.light .bit.entity { background: #6E89B1; color: #FFF; }
.light .new-bit .bit.entity { background: #eee; color: #555; }
.light .header.entity { color: #fff; }
.light .bit.value { background: #779BA9; color: #fff; }
.light .bit.attribute { background: #AA88AD; color: #fff; } */

.light .actions-container {  }
.light .actions-container > * { background: #eee; }
.light .actions > * { border-color: #ccc; }
.light .action { background: #eee; }
.light .add-card-link { cursor: default; color: rgb(53, 105, 183); border-bottom:1px solid transparent; }
.light .add-card-link:hover { border-color:rgb(53, 105, 183); }

.light .search-input { background: #eee; color: #555; border-color: #bbb; }
.light .search-headers > * { color: #555; background: #ddd; }
.light .search-results .sub-group { border-color:#ccc; }
.light .search-results .sub-group .bit + .bit { border-color: #ccc; }
.light .search-results .path + .path  { border-top-color: #ccc; }

.light .related-bits .bit { border-color:#999; color: rgb(53, 105, 183); }


.light .CodeMirror.cm-s-default { font-family: Helvetica Neue; background:none; color: #555; }
.light .CodeMirror .CodeMirror-selected { background: #ccf; }
.light .cm-s-default .CodeMirror-cursor { border-color: #999; }
.light .cm-s-default .cm-link { color: #99f; }
.light .cm-s-default .cm-url { color: #77f; }
.light .cm-s-default .cm-header.cm-header-1 { color: #666; font-size:16pt; }

/*---------------------------------------------------------
- Slides
---------------------------------------------------------*/

.phrase { display: block; font-size: 32pt; min-height: 20px; max-width:750px; line-height: 55px; color: #ccc; }
.phrase span { display:inline; opacity:0; }

.phrase + .search-container { margin-top:50px; }

.row .phrase { font-size: 18pt; max-width: 350px; line-height: 30px; }
.phrase-container { width: 380px; }

.slide-controls { position: absolute; bottom: 15px; left: calc(50% - 46px); flex-direction: row; font-size: 32pt; color: #999; z-index: 10; }
.slide-controls * {margin-right: 0px; padding:0 15px; }
.slide-controls div:hover { color: #eee; }

.slide > div > .bit { flex:none; align-self:center; margin-top:20px; }
.slide .search-container { position:relative; display:flex !important;  }
/*.slide .search-container:hover .add-action { display:none; }*/
.slide .list .phrase { font-size:20pt; }
.slide .phrase + .list { margin-top: 40px; }

