/*---------------------------------------------------------
- fonts
---------------------------------------------------------*/

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato/Lato-Regular.ttf'); /* IE9 Compat Modes */
}