.flex-spacer { flex: 1; }
.flex-row { display: flex; flex: 1; flex-direction: row; }

@keyframes hide-delayed {
    from { opacity: 1; }
    99% { opacity: 1; }
    to { opacity: 0; }
}

* { box-sizing: border-box; }


html, body, __root { height: 100%; }
/****************************************************************************\
 * Root
\****************************************************************************/
.editor-root { display: flex; flex-direction: row; height: 100%; align-items: stretch; }

.navigator-pane { width: 220px; overflow-x: hidden;  transition: width 0.3s ease-in-out; }
.navigator-pane.collapsed { width: 20px; }
.navigator-pane .navigator-pane-inner { width: 220px; padding: 0 5px; margin-left: 0; transition: margin-left 0.3s ease-in-out; }
.navigator-pane.collapsed .navigator-pane-inner { margin-left: -195px; }
.navigator-pane.collapsed .tree-item { pointer-events: none; }

.editor-pane { width: 700px; }

.comments-pane { flex: 1; }

/****************************************************************************\
 * Navigator
\****************************************************************************/
.navigator-header { display: flex; flex-direction: row; padding-left: 5px; user-select: none; -webkit-user-select: none; }
.navigator-header > .controls { }
.navigator-header > .controls > * { display: inline-block; width: 20px; opacity: 0.25; text-align: center; transition: opacity 0.15s transform 0.15s; }
.navigator-header:hover > .controls > *:not(.disabled) { opacity: 1; }
.navigator-header .collapse-btn { transform: rotate(180deg); }
.navigator-header .label { white-space: pre; }

.tree-item { flex-direction: column; align-items: stretch; }
.tree-item > .tree-items { display: flex; flex-direction: column; padding-left: 10px; clear: both; }

.tree-item .label { display: flex; flex: 1 1 auto; margin-left: 20px; user-select: none; -webkit-user-select: none; }
.tree-item .label:before { display: inline-block; margin-left: -15px; margin-right: 5px; height: 15px; width: 15px; text-align: center; }
.tree-item.branch .label:before { opacity: 0.25; transition: opacity 0.15s, transform 0.15s; }
.tree-item.branch.collapsed .label:before { transform: rotate(-90deg); opacity: 0.5; }
.tree-item.branch:hover .label:before { opacity: 1; }
.tree-item .label.no-icon:before { content: ""; }

.tree-item .controls { display: flex; flex: 0 0 auto; margin-left: 5px; opacity: 0; transition: opacity 0.15s; user-select: none; -webkit-user-select: none; }
.tree-item .controls > * { display: inline-block; width: 20px; text-align: center; }
.tree-item:hover > .flex-row > .controls { opacity: 1; }

.tree-item.hidden > .flex-row > .label { opacity: 0.5}

/****************************************************************************\
 * Comments
\****************************************************************************/
.comments-pane { }
.comments-pane .comment { margin-left: 5px; padding: 10px; max-width: 500px; display: flex; flex-direction: column; align-items: stretch; }
.comments-pane .comment + .comment { margin-top: 5px; }
.comments-pane .comment > .label + .description { margin-top: 5px; }
.comments-pane .comment > .description { font-family: "Monaco", "Consolas", "Ubuntu Mono", monospace; font-size:10pt; }

.comments-pane .quick-actions { display: flex; flex-direction: row; flex-wrap: wrap; opacity: 0.5; transition: opacity 0.15s; }
.comments-pane .comment:hover .quick-actions { opacity: 1; }
.comments-pane .quick-actions > .comment-action { flex: 1 0 auto; max-width: 50%; padding: 2px 5px; margin-top: 5px; text-align: center; background: #404040; }
.comments-pane .quick-actions > .comment-action + .comment-action { margin-left: 1px; }
.comments-pane .quick-actions > .comment-action:hover { background: #505050; }


.comments-pane .comment.error{ }

.error-title { color: rgb(73, 158, 211); }
.error-context { color: rgb(83, 117, 137); }
.error pre { font-family: "Monaco", "Consolas", "Ubuntu Mono", monospace; font-size:10pt; margin:0; margin-top:20px; margin-left:3px; }

/****************************************************************************\
 * Editor
\****************************************************************************/
.editor-pane { background: #202020; }
