.flex-spacer { flex: 1; }
.flex-row { display: flex; flex: 1; flex-direction: row; }

@keyframes hide-delayed {
    from { opacity: 1; }
    99% { opacity: 1; }
    to { opacity: 0; }
}

* { box-sizing: border-box; }


html, body, __root { height: 100%; }
/****************************************************************************\
 * Root
\****************************************************************************/
.editor-root { display: flex; flex-direction: row; height: 100%; align-items: stretch; }

.navigator-pane { width: 220px; flex: 0 0 auto; overflow-x: hidden;  transition: width 0.3s ease-in-out; }
.navigator-pane.collapsed { width: 20px; }
.navigator-pane .navigator-pane-inner { width: 220px; padding: 0 5px; margin-left: 0; transition: margin-left 0.3s ease-in-out; }
.navigator-pane.collapsed .navigator-pane-inner { margin-left: -195px; }
.navigator-pane.collapsed .tree-item { pointer-events: none; }

.editor-pane { flex: 1; }

.CodeMirror-sizer > div:first-child { width: 690px; min-height: 100%; margin-left: 5px; margin-right: 5px; }
.comments-pane { position: absolute; left: 700px; right: 0px; top: 0; bottom: 0; padding-right: 15px; z-index: 1; }

/****************************************************************************\
 * Navigator
\****************************************************************************/
.navigator-header { display: flex; flex-direction: row; padding-left: 5px; user-select: none; -webkit-user-select: none; }
.navigator-header > .controls { }
.navigator-header > .controls > * { display: inline-block; width: 20px; opacity: 0.25; text-align: center; transition: opacity 0.15s transform 0.15s; }
.navigator-header:hover > .controls > *:not(.disabled) { opacity: 1; }
.navigator-header .collapse-btn { transform: rotate(180deg); }
.navigator-header .label { white-space: pre; }

.tree-item { flex-direction: column; align-items: stretch; }
.tree-item > .tree-items { display: flex; flex-direction: column; padding-left: 10px; clear: both; }

.tree-item .label { display: flex; flex: 1 1 auto; margin-left: 20px; user-select: none; -webkit-user-select: none; transition: opacity 0.15s; }
.tree-item .label:before { display: inline-block; margin-left: -15px; margin-right: 5px; height: 15px; width: 15px; text-align: center; }
.tree-item.branch .label:before { opacity: 0.25; transition: opacity 0.15s, transform 0.15s; }
.tree-item.branch.collapsed .label:before { transform: rotate(-90deg); opacity: 0.5; }
.tree-item.branch:hover .label:before { opacity: 1; }
.tree-item .label.no-icon:before { content: ""; }

.tree-item .controls { display: flex; flex: 0 0 auto; margin-left: 5px; opacity: 0; transition: opacity 0.15s; user-select: none; -webkit-user-select: none; }
.tree-item .controls > * { display: inline-block; width: 20px; text-align: center; }
.tree-item:hover > .flex-row > .controls { opacity: 1; }

.tree-item.hidden > .flex-row > .label { opacity: 0.5; }

/****************************************************************************\
 * Editor
\****************************************************************************/
.editor-pane { background: #202020; }


.CodeMirror { background:none; color: inherit; height:100%; font-family: "Monaco", "Consolas", "Ubuntu Mono", monospace; font-size:10pt;  }
.CodeMirror-scroll, .CodeMirror-gutters { height:100%; }
.CodeMirror-cursor { background: white; border-color:white; }

.CodeMirror { color: #c4c4c4; line-height:20px; font-family: Avenir; }
.CodeMirror pre { padding: 0 4px; }
.CodeMirror-scroll { scroll-behavior: smooth; }
.CodeMirror-gutters { background: #303030; border-right: none; padding-right: 5px; }
.CodeMirror-selected { background: #444; }
.CodeMirror-focused .CodeMirror-selected { background: #444; }
.CodeMirror .STRONG { font-weight:bold; }
.CodeMirror .EMPH { font-style:italic; }
.CodeMirror .CODE { background: rgba(255,255,255,0.08); background: rgba(0,0,0,0.3); font-family: Inconsolata; margin-left: -5px; margin-right: -5px; }
.CodeMirror span.CODE { padding:2px 4px; border-radius:3px; }
.CodeMirror .CodeMirror-line.ITEM { padding-left: 20px; }
.CodeMirror .CodeMirror-line.ITEM:before { content: "-"; padding-right:10px; }
.CodeMirror .CODE_BLOCK { font-family: Inconsolata; }
.CodeMirror .CODE-TOP { border-radius:3px 3px 0 0; padding-top:8px; }
.CodeMirror .CODE-BOTTOM { border-radius:0 0 3px 3px; padding-bottom:8px; }
.CodeMirror .DOC { color: #d8d8d8; }
.CodeMirror .HEADING1 { font-size:16pt;}
.CodeMirror .HEADING2 { font-size:14pt;}
.CodeMirror .HEADING3 { font-size:12pt;}
.CodeMirror .HEADING4 { font-size:12pt;}
.CodeMirror .COMMENT { color: #747474; }
.CodeMirror .TAG { color: #50edf6; color: #4bcbd3; }
.CodeMirror .NAME { color: #50edf6; color: #4bcbd3; }
.CodeMirror .IF, .ELSE, .THEN { color: gray; color: #63b6e7; }
.CodeMirror .COMMIT, .BIND, .MATCH { color: gray; color: #63b6e7; }
.CodeMirror .STRING, .STRING_OPEN, .STRING_CLOSE, .BOOLEAN, .NUMBER { color: #ff66ac; color: #acaaff; }
.CodeMirror .OPEN_BRACKET, .CodeMirror .DOT, .CodeMirror .CLOSE_BRACKET, .CodeMirror .OPEN_PAREN, .CodeMirror .CLOSE_PAREN, .CodeMirror .ALIAS, .CodeMirror .EQUALITY, .CodeMirror .SET, .CodeMirror .INSERT, .CodeMirror .REMOVE, .CodeMirror .INFIX, .CodeMirror .COMMA { color: gray; }
.CodeMirror .BLOCK_OPEN, .CodeMirror .BLOCK_CLOSE { color: gray; }

/****************************************************************************\
 * Comments
\****************************************************************************/
.comments-pane { background: #303030; }
.comments-pane-inner { position: relative; min-width: 300px; max-width: 500px; height: 100%; }
.comments-pane .comment { color: #d8d8d8; }


.comments-pane .comment { position: absolute; padding: 5px 10px; margin-top: -2px; width: 100%; display: flex; flex-direction: column; align-items: stretch; overflow: visible; }
.comments-pane .comment-inner { background: #303030; }
.comments-pane .comment > .label { display: none; }
.comments-pane .comment-inner > .description { font-size: 10pt; white-space: pre-wrap; }

.comments-pane .quick-actions { display: flex; flex-direction: row; flex-wrap: wrap; opacity: 0.5; transition: opacity 0.15s; }
.comments-pane .comment:hover .quick-actions { opacity: 1; }
.comments-pane .quick-actions > .comment-action { flex: 1 0 auto; max-width: 50%; padding: 2px 5px; margin-top: 5px; text-align: center; background: #404040; }
.comments-pane .quick-actions > .comment-action + .comment-action { margin-left: 1px; }
.comments-pane .quick-actions > .comment-action:hover { background: #505050; }

.comments-pane .comment.collapse-1 > .quick-actions,
.comments-pane .comment.collapse-2 > .quick-actions,
.comments-pane .comment.collapse-3 > .quick-actions { display: none; }

.comments-pane .comment.collapse-2 > .description,
.comments-pane .comment.collapse-3 > .description { white-space: pre; overflow: hidden; text-overflow: ellipsis; }

.comments-pane .comment.collapse-2 > .label { display: block; }
.comments-pane .comment.collapse-2 > .label + .description { display: none; }

.comments-pane .comment.collapse-2,
.comments-pane .comment.collapse-3 { border-top: 1px solid #202020; border-bottom: 1px solid #202020; }

.comments-pane.collapsed .comments-pane-inner { min-width: 50px; }
.comments-pane.collapsed .comment > .label { display: inline-block; margin-left: 25px; white-space: pre; overflow: hidden; text-overflow: ellipsis; }
.comments-pane.collapsed .comment-inner { display: none; }
.comments-pane.collapsed .comment:hover .comment-inner { display: block; position: absolute; right: 0; top: 28px; width: 400px; padding: 10px; z-index: 1; border-radius: 2px; border: 1px solid #202020; }

.comments-pane.collapsed .comment:before { content: "\f11b"; width: 30px; height: 30px; position: absolute; left: -5px; top: 0; padding: 5px; font-size: 20px; text-align: center; font-family: "Ionicons"; speak: none; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.comments-pane.collapsed .comment.error:before { content: "\f100"; color: #F06060; }
.comments-pane.collapsed .comment.warning:before { content: "\f100"; color: #C0C060; }




.CodeMirror .comment-highlight.range { border-bottom: 1px solid white; }
.CodeMirror .comment-highlight.range.error { border-bottom-color: #F06060; }
.CodeMirror .comment-highlight.range.warning { border-bottom-color: #C0C060; }
.CodeMirror .comment-highlight.pos:after { display: block; content: "^"; position: absolute; left: 0; bottom: -10px; color: white; }
.CodeMirror .comment-highlight.pos.error:after { color: #F06060; }
.CodeMirror .comment-highlight.pos.warning:after { color: #C0C060; }

.CodeMirror .scrollbar-annotation { background: #AAA; min-height: 5px; opacity: 1; transition: opacity 0.15s; pointer-events: }
.CodeMirror .scrollbar-annotation:hover { opacity: 0.5; }
.CodeMirror .scrollbar-annotation.error { background: #F06060; }
.CodeMirror .scrollbar-annotation.warning { background: #C0C060; }
