.flex-spacer { flex: 1; }
.flex-row { display: flex; flex: 1; flex-direction: row; }

@keyframes hide-delayed {
    from { opacity: 1; }
    99% { opacity: 1; }
    to { opacity: 0; }
}

* { box-sizing: border-box; }


html, body, __root { height: 100%; }
body { background: #f5f5f5; color: #555; }
/****************************************************************************\
 * Root
\****************************************************************************/
.editor-root { display: flex; flex-direction: row; height: 100%; align-items: stretch; background: #fff; }

.navigator-pane { width: 320px; flex: 0 0 auto; overflow-x: hidden; background:#555; color:#eee; transition: width 0.3s ease-in-out; margin-right:20px; padding:30px 0; }
.navigator-pane.collapsed { width: 20px; }
.navigator-pane .navigator-pane-inner { width: 320px; padding: 0 5px; margin-left: 0; transition: margin-left 0.3s ease-in-out; }
.navigator-pane.collapsed .navigator-pane-inner { margin-left: -295px; }
.navigator-pane.collapsed .tree-item { pointer-events: none; }

.editor-pane { position: relative; flex: 1; }

.CodeMirror-sizer > div:first-child { width: 650px; min-height: 100%; }

/****************************************************************************\
 * Navigator
\****************************************************************************/
.navigator-header { display: flex; flex-direction: row; padding-left: 5px; user-select: none; -webkit-user-select: none; }
.navigator-header > .controls { }
.navigator-header > .controls > * { display: inline-block; width: 20px; opacity: 0.25; text-align: center; transition: opacity 0.15s transform 0.15s; }
.navigator-header:hover > .controls > *:not(.disabled) { opacity: 1; }
.navigator-header .collapse-btn { transform: rotate(180deg); }
.navigator-header .label { white-space: pre; display:none; }

.tree-item { flex-direction: column; align-items: stretch; }
.tree-item > .tree-items { display: flex; flex-direction: column; }

.item-level-1 > div > .label { font-size:18pt; margin-bottom:25px; }
.item-level-2 { margin-bottom:25px; margin-left:3px; }
.item-level-2 > div > .label { font-weight: bold; margin-bottom:5px; }
.item-level-3 { margin-top:3px; }
.item-level-3 > div > .label { color:#bbb; font-size: 11pt; }

.tree-item .label { display: flex; flex: 1 1 auto; margin-left: 20px; user-select: none; -webkit-user-select: none; transition: opacity 0.15s; }
.tree-item .label:before { display: inline-block; margin-left: -15px; margin-right: 5px; height: 15px; width: 15px; text-align: center; }
.tree-item.branch .label:before { opacity: 0.25; transition: opacity 0.15s, transform 0.15s; }
.tree-item.branch.root > .flex-row > .label { opacity: 0; pointer-events: none; }
.tree-item.branch.collapsed .label:before { transform: rotate(-90deg); opacity: 0.5; }
.tree-item.branch:hover .label:before { opacity: 1; }
.tree-item .label.no-icon:before { content: ""; }

.tree-item .controls { display: flex; flex: 0 0 auto; margin-left: 5px; opacity: 0; transition: opacity 0.15s; user-select: none; -webkit-user-select: none; }
.tree-item .controls > * { display: inline-block; width: 20px; text-align: center; }
.tree-item:hover > .flex-row > .controls { opacity: 1; }

.tree-item.hidden > .flex-row > .label { opacity: 0.5; }

/****************************************************************************\
 * Editor
\****************************************************************************/
.editor-pane { margin-left: 20px; }

.CodeMirror-lines { padding-top:30px; }


.CodeMirror { background:none; color: inherit; height:100%; font-size:11pt;  }
.CodeMirror-scroll, .CodeMirror-gutters { height:100%; }
.CodeMirror-cursor { background: #555; border-color:#555; }

.CodeMirror { color: #555; line-height:25px; font-family: Avenir, "Helvetica Neue", sans-serif; }
.CodeMirror pre { padding-left: 8px; padding-right:50px; }
.CodeMirror-scroll { scroll-behavior: smooth; }
.CodeMirror-gutters { background: #303030; border-right: none; padding-right: 5px; }
.CodeMirror-selected { background: #444; }
.CodeMirror-focused .CodeMirror-selected { background: #eee; }

.CodeMirror-simplescroll-vertical { width:14px; background: #fff; border-left:1px solid #ddd; border-right:1px solid #ddd; }
.CodeMirror-simplescroll-vertical div { border:none; border-radius:0; background: #f4f4f4; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
.CodeMirror .scrollbar-annotation { width: 8px !important; min-height:3px !important; height:3px !important; right: 3px !important; }

.CodeMirror .STRONG { font-weight:bold; }
.CodeMirror .EMPH { font-style:italic; }
.CodeMirror .CODE { margin-left: 10px; margin-right:50px; border-left:5px solid #eaeaea; background: #f4f4f4; font-family: "Inconsolata", "Monaco", "Consolas", "Ubuntu Mono", monospace;  }
.CodeMirror .CODE-TEXT { line-height:19px; padding-left:30px; }
.CodeMirror span.CODE { color: #0076ce; background:none; margin:0; padding:0; border:none; }
.CodeMirror .CodeMirror-line.ITEM { padding-left: 20px; }
.CodeMirror .CodeMirror-line.ITEM.bullet:before { content: "-"; padding-right:10px; }
.CodeMirror .CODE_BLOCK { font-family: "Inconsolata", "Monaco", "Consolas", "Ubuntu Mono", monospace; }
.CodeMirror .CODE-TOP { border-radius:3px 3px 0 0; padding-top:8px; }
.CodeMirror .CODE-BOTTOM { border-radius:0 0 3px 3px; padding-bottom:8px; }
.CodeMirror .DOC { color: #d8d8d8; }
.CodeMirror .HEADING1 { font-size:30px; padding-top:20px; padding-bottom: 30px;}
.CodeMirror .HEADING2 { font-size:20px; padding-top:20px; padding-bottom: 10px; font-weight: bold; }
.CodeMirror .HEADING3 { font-size:16px; padding-top:20px; padding-bottom: 10px; font-weight: bold; }
.CodeMirror .HEADING4 { font-size:12pt;}

/* Syntax Styles */

.CodeMirror .COMMENT { color: #747474; }

/* Variables/Attributes */
.CodeMirror .ALIAS { }
.CodeMirror .TAG, .CodeMirror .TAG + .IDENTIFIER { color: #50edf6; color: #4bcbd3; color: #0076ce; }
.CodeMirror .NAME, .CodeMirror .NAME + .IDENTIFIER { color: #50edf6; color: #4bcbd3; color: #0076ce; }
/* Phases */
.CodeMirror .ACTION, .SEARCH { color: black; }
/* Statements */
.CodeMirror .IF, .ELSE, .THEN { color: black; }
/* Literals */
.CodeMirror .STRING, .QUOTE, .BOOL, .NUM { color: #00a588; }
/* Brackets */
.CodeMirror .OPEN-BRACKET, .CodeMirror .CLOSE-BRACKET, .CodeMirror .OPEN-PAREN, .CodeMirror .CLOSE-PAREN { color: gray; }
.CodeMirror .STRING-EMBED-OPEN, .CodeMirror .STRING-EMBED-CLOSE { color: gray; }
.CodeMirror .DOT, .CodeMirror .COMMA { color: gray; }
/* Binding/Action Operators */
.CodeMirror .EQUALITY, .CodeMirror .MERGE, .CodeMirror .SET, .CodeMirror .MUTATE { color: gray; }
/* Infix Operators */
.CodeMirror .INFIX, .CodeMirror .COMPARISON { color: gray; }

/****************************************************************************\
 * Elision
\****************************************************************************/

.elision { border-top:2px solid #ddd; }

/****************************************************************************\
 * Format Bars
\****************************************************************************/
.editor-pane .new-block-bar { position: absolute; top: 0; left: 0; margin-left: -32px; display: flex; flex-direction: row; width: 32px; overflow: hidden; background: #404040; transition: width 0.15s; z-index: 5; }
.editor-pane .new-block-bar.active { width: 246px; }

.editor-pane .new-block-bar > .new-block-bar-toggle,
.editor-pane .new-block-bar > .controls > div { padding: 5px 10px; }
.editor-pane .new-block-bar > .new-block-bar-toggle:hover,
.editor-pane .new-block-bar > .controls > div:hover{ background: #505050; }
.editor-pane .new-block-bar > .new-block-bar-toggle:before { transition: transform 0.15s; }
.editor-pane .new-block-bar.active > .new-block-bar-toggle:before { transform: rotate(45deg); }

.editor-pane .format-bar { position: absolute; top: 0; left: 0; display: flex; flex-direction: row; background: #404040; z-index: 5; }
.editor-pane .format-bar > * { padding: 5px 10px; }
.editor-pane .format-bar > div:hover { background: #505050; }


/****************************************************************************\
 * Comments
\****************************************************************************/

.comment-widget { padding: 5px 0; }
.code-comment-widget { padding-left: 30px; margin-top: 2px; margin-left: 15px; margin-right: 50px; }

.comment-widget.error { background: #ffced6; }

.comment-widget .comment-inner { display: block; }
.comment-inner { display: none; }

.comment-widget .quick-actions { display: flex; flex-direction: row; flex-wrap: wrap; opacity: 0.5; transition: opacity 0.15s; }
.comment-widget:hover .quick-actions { opacity: 1; }
.comment-widget .quick-actions > .comment-action { flex: 1 0 auto; max-width: 50%; padding: 2px 5px; margin-top: 5px; text-align: center; background: #404040; }
.comment-widget .quick-actions > .comment-action + .comment-action { margin-left: 1px; }
.comment-widget .quick-actions > .comment-action:hover { background: #505050; }

.comment.error { border-color: #F06060; color: #a7001a; }
.comment.warning { border-color: #C0C060; }

.CodeMirror .document_comment { border-bottom: 1px solid white; }
.CodeMirror .document_comment.error { border-bottom-color: #ff7e92; }
.CodeMirror .document_comment.warning { border-bottom-color: #C0C060; }

.CodeMirror .scrollbar-annotation { background: #AAA; min-height: 5px; opacity: 1; transition: opacity 0.15s; z-index: 2; }
.CodeMirror .scrollbar-annotation:hover { opacity: 0.5; }
.CodeMirror .scrollbar-annotation.error { background: #ff7e92; }
.CodeMirror .scrollbar-annotation.warning { background: #C0C060; }

.CodeMirror .COMMENT_error { border-color: #ff7e92; }

/****************************************************************************\
 * Views
\****************************************************************************/
.view.kv-table { display: table; border-collapse: collapse; border: 1px solid #202020; }
.view.kv-table .kv-row { display: table-row; }
.view.kv-table .kv-row + .kv-row { border-top: 1px solid #606060; }
.view.kv-table .kv-row > div { display: table-cell; padding: 0 5px; }
.view.kv-table .kv-values { border-left: 1px solid #202020; }

/****************************************************************************\
 * Inspector
\****************************************************************************/
.CodeMirror .shadow { color: #999 !important; }
.CodeMirror .highlight { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.CodeMirror .badge { border:none; }
.CodeMirror .badge-widget { display: inline-block; margin:0 4px; font-size: 10pt; color: #03a689; background: #c9e4e0; border-radius: 2px; padding: 0 4px; padding-top:1px; }
