body { position: relative; padding-bottom: 1.5em; background:#ECEEF2; color: rgb(76, 85, 90); font-family: "Lato", sans-serif; font-weight: 400; }
* { box-sizing: border-box; }
div { display: flex; flex-direction: column; }
button, input, textarea { border:none; outline: none; font-family: "Lato", sans-serif; font-weight: 400; color: rgb(76,85,90); font-size: 12pt; }
input { background:none; }
[placeholder]:not(input):not(textarea):empty:after { display: block; content: attr(placeholder); color: rgba(0, 0, 0, 0.4); }

a { color: #008cdd; cursor: pointer; border-bottom: 1px solid transparent; text-decoration: none; }
a:hover { text-decoration: underline; }

.flex-grow { flex: 1; }
.flex-row { display: flex !important; flex-direction: row; }
.flex-column { display: flex !important; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.fullscreen { width: 100vw; min-height: 100vh; }

.no-mouse { pointer-events: none; }

.spaced-row > * + * { margin-left: 0.2em; }
.csv { flex-direction: row; }
.csv > * + span { margin-left: 0.4em; }
.csv > span + span:before { position: relative; left: -0.4em; content: ","; }

.measure-span { visibility:hidden; pointer-events: none; position:absolute; top:0; left:0; z-index: -1;}

/*---------------------------------------------------------
- Root
---------------------------------------------------------*/
body { height: 100vh; width: 100vw; }
.logo { width: 48px; height: 48px; background-size: contain; background-position: top center; background-repeat: no-repeat; }
.eve-logo { width: 28px; height: 32.5px; background-size: cover; background-image: url("http://www.witheve.com/logo.png"); }

#perfStats { position: fixed; background: rgba(255, 255, 255, 0.6); padding:10px; bottom: 5px; right: 5px; color: #888; z-index: 20; flex-direction:row; border-radius:3px; }
#perfStats > * + * { margin-left:20px; }

.shade { position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 10; background: rgba(0, 0, 0, 0.0); align-items: center; justify-content: center; }

.modal-prompt { padding: 20px; background: white; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
.modal-prompt header > * { display: flex; margin-bottom:20px; }
.modal-prompt h2 { text-align: center; font-size:18pt; }
.modal-prompt > p { margin-bottom: 0.5em; }

.banner { padding:20px 100px; align-items:stretch; background: #DDC8FF; color: #000; flex-direction:row; }
.banner .content { max-width: 650px; display:block; line-height:26px; font-size:12pt; }
.banner .content > * { display:inline; }
.banner .content a { color: #0000ff; }
.banner button { padding: 0 20px; margin-left: 30px; background:rgba(0,0,0,0.1); border-radius:3px; }
.banner button:hover { background: rgba(0,0,0,0.2); }

.feedback-bar { position:fixed; bottom:45px; right: 5px; flex-direction:row; padding:5px 15px; background: rgba(255,255,255,0.6); z-index: 1000; }
.feedback-bar * { padding:5px; }
.feedback-bar * + * { margin-left: 20px; }

/*---------------------------------------------------------
- Controls
---------------------------------------------------------*/
.controls { flex-direction: row; align-items: center;}
.controls > div { padding: 0.25em; border-radius: 2px; }

div > header > .controls { opacity: 0; }
div:hover > header > .controls, header > .controls.visible { opacity: 1; }
.controls > div:hover { background: rgba(255, 255, 255, 0.25); }

/*---------------------------------------------------------
- Pane
---------------------------------------------------------*/
.wiki-pane.fullscreen { position: relative; padding: 0px 20px; }
.wiki-pane > header { padding: 10px 0.5em; align-items: center; border-bottom: 1px solid #ccc; }
.wiki-pane > header > * { margin: 0 0.5em;}
.wiki-pane > header > .controls { margin-right: -43px; }
.wiki-pane > header + .scroller { margin-top:50px; }
.wiki-pane .scroller { flex: 1; flex-direction:row; position:relative; display: flex; overflow:auto; padding:20px 20px 50px 20px; } /* @TODO: Breakpoints overflow-y: auto*/
.wiki-pane .scroller > * + * { margin-left:40px; }
.wiki-pane > content.unwrapped .text-content { flex: 1; }
.wiki-pane > content.unwrapped .CodeMirror { width: auto; max-width: 760px; }

.wiki-pane {}

.wiki-entity { flex: 1; flex-direction: row; overflow:hidden; justify-content: center; }
.disambiguation { align-self: stretch; flex-direction: row; padding: 15px 25px; color: #999;  }

.wiki-pane > .settings { display: flex; flex-direction: column; align-items: stretch; position: absolute; right: 15px; top: 100px; z-index: 11; background: white; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.wiki-pane > .settings:before { content: ""; position: absolute; top: -7px; right: 56px; border: 7px solid transparent; border-bottom-color: #ccc; border-top: none; }
.wiki-pane > .settings:after { content: ""; position: absolute; top: -6px; right: 57px; border: 6px solid transparent; border-bottom-color: white; border-top: none; }
.wiki-pane > .settings li { display: flex; padding: 10px; }
.wiki-pane > .settings li + li { border-top: 1px solid #ccc; }
.wiki-pane > .settings li.disabled { color: #999; }

.wiki-pane > .settings li:hover { background: #f9f9f9; }
.wiki-pane > .settings li.disabled:hover { background: transparent; }

.wiki-pane > .settings .delete-btn { color: #dd3311; }

/*---------------------------------------------------------
- Popout pane
---------------------------------------------------------*/

.wiki-pane.window > header > * { margin:0;}
.wiki-pane.window { position:relative;  border-radius:3px; }
.wiki-pane.window > header { background: #fff; padding: 10px 5px; padding: 0; border:none; }
.wiki-pane.window > header button { border:none; border-radius:0px; background:none; font-size: 20px; font-weight:400; color:#555; padding:12px 10px; color: #008cdd; position:absolute; top:0; right:0; z-index:10; margin-right:37px;  }
.wiki-pane.window > header button:hover { background: rgba(0, 140, 221, 0.15); }
.wiki-pane.window > header button:before { margin-top:1px; }
.wiki-pane.window > header .controls { opacity:1; color: #777; }
.wiki-pane.window > content { flex: 1; }
.wiki-pane.window .wiki-entity { padding: 25px 20px; }
.wiki-pane.window .wiki-entity .CodeMirror { flex: 1; overflow:visible; }
.wiki-pane.window .wiki-editor { padding: 0px 30px;  }
.wiki-pane.window .card { margin: 0; }

.wiki-pane.window .scroller { margin:0; }

/*---------------------------------------------------------
- Autocompleter
---------------------------------------------------------*/

.autocompleter { position: absolute; z-index:10; background: #fff;  box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 7px 15px rgba(0,0,0,0.1); border-radius:3px; margin-top:5px; }
.autocompleter .option { padding:8px 10px; flex-direction:row; }
.autocompleter .selected { background:rgba(0, 140, 221, 0.10); }
.autocompleter .option + .option { border-top: 1px solid #ddd; }
.autocompleter .inline-cell { min-width: 80px; outline:none; padding-left:8px; border-left:1px solid #aaa; margin-left:8px; }

/*---------------------------------------------------------
- Card
---------------------------------------------------------*/

.card {position:relative; background: white; align-self:center; align-items: stretch; min-width:200px; box-shadow: 0 7px 15px rgba(0,0,50,0.10); border-radius:5px; overflow:hidden; }
.card .text-content { margin-right:10px; min-width:250px; white-space:pre-wrap; line-height:28px; color:#aaa; flex:none; max-height:50%; }
.card .header { flex-direction:row; flex:none; padding:10px 15px; font-size: 18pt; font-weight: 900; color: rgb(106,138,156); border-bottom: 1px solid #eee; }
.card .wiki-editor { padding: 30px; padding-top:0; margin-bottom:20px; }
.card + .card { margin-top:40px; }

.card .tile-scroll { overflow:auto; }

.card .entity { overflow:hidden; }

.card > .table { margin: 20px 30px; }

.card .tiles { flex:none; flex-direction: row; flex-wrap: wrap; width: 360px; overflow:auto; }
.card .tile { flex: 1 0 0; overflow:hidden; cursor: default; flex-direction:row; position:relative; }
/* .card .tile:hover { background:rgba(0,0,50,0.04);  } */
.card .tile .property { font-size: 9pt; color: #aaa; margin-bottom: 5px; }
.card .tile.small, .card .tile.medium { justify-content: flex-start; }
.card .tile + .tile { border-left: 1px solid #eee; }
.card .tile.small .value, .card .tile.medium .value { font-size: 14pt; }
.card .row { width: 100%;  }
.card .row + .row { border-top:1px solid #eee; }

.card .tile.small { flex: 1; }
.card .tile.medium { flex: 2; }
.card .tile.full { flex: 3; }

.card .tile .tile-content-wrapper { flex:1; align-items:flex-start; padding:15px; }
.card .tile .controls { display:none; flex:none; flex-direction:column; border-left:1px solid #eee; border-radius:0; }
.card .tile .controls * { padding:5px; flex:1; justify-content: center; border:none; border-radius:0; width:24px; color: #999; align-items:center; }
.card .tile .controls div:hover { background: rgba(0,0,0,0.04); }
.card .tile .controls .submit { border-bottom:1px solid rgba(0,0,0,0.1); }
.card .tile .controls .submit:hover { color: green; background:rgba(0,150,0,0.2); }
.card .tile .controls .cancel:hover { color: #aa5555; background: rgba(150,0,0,0.2); }

.card .tile .edit { background:#fff; position:absolute; right:0; top:0; bottom:0; width:0; color: #888; border-left:1px solid transparent; align-items:center; justify-content:center; transition:width 0.2s ease-in-out, border-color 0.2s ease-in-out; overflow:hidden; }
.card .tile .edit:hover { background: #eee; }
.card .tile:hover .edit { width:25px; display:flex; border-color: #eee; }
.card .tile.active .edit { display:none; }

.card .tile.active .controls { display:flex; }

.card .value.text { line-height: 22px; }

.card .tile .multi-value { flex-direction: column; }
.card .multi-value * + * { border-left: 0px solid #ddd; padding-left: 0px;}

.card .tile .list { flex-wrap:wrap; flex-direction:row; align-items:flex-start; }
.card .tile .list > * { padding:15px; margin:2px; background: #f5f5f5; border:0px solid #eee; border-radius:2px;  }
.card .tile .list .link:hover { border:none; background:#CEEDFF; }
.card .tile.active .list div:hover { background:#fdd; }
.card .tile.active .list div.marked-to-remove { background:#fbb; }

.card .tile textarea { background:none; font-size:16px; border:none; width:300px; }

.card .add-tile {position: absolute; padding:10px 20px; padding-right:15px; right:0; top:0; color: #ccc; cursor: default; }
.card .add-tile:before { transition:transform 0.2s ease-in-out; }
.card .add-tile:hover { color: #666; }

.card .tile-adder { flex:none; transition:height 0.18s ease-out;  overflow:hidden; height:0; background:#F3F8FF; flex-direction:row; flex-wrap:wrap; max-width: 360px; }
.card .tile-adder .tile, .card .tile-adder .row { border-color: rgba(0,0,0,0.1); }
.card .tile-adder .tile { cursor:default; align-items:center; }
.card .tile-adder .tile:hover { background: rgba(0,0,0,0.04); }
.card .tile-adder .property { color:#555; }
.card .tile-adder .tile .value { color:#555;}
.card .tile-adder .tile input { min-width: 85px; }
.card .adding .header { border-color: #ddd; }
.card .adding .tile-adder { transition:height 0.18s ease-in; height: 150px; }
.card .adding .tiles { border-top:1px solid #ddd; }
/* .card .adding .tiles { display:none; } */
.card .adding .add-tile:before {transform: rotate(-135deg); }

.card .adding .tile-adder.collection { height: 280px; }
.card .adding .collection-adder .tile { height: 250px; width: 330px; }

.card .tile.computed { background: red; }

.card .tile.image .text-content { padding:0; }
.card .tile.image .tile-content-wrapper { padding:0; display:block; }
.card .tile.image img { width: 360px; cursor:default; transition:width 0.2s ease-in-out; }
.card .tile.image .list { max-height:none; }
.card .tile.image .list img { margin:0; padding:0; }
.card .tile.image.active .list img { width: 140px; }
.card .tile.active img { width: 335px; }
/* .card .tile:hover img { width: 335px; } */

.card .property-adder { flex: 1; align-items:center; justify-content:center; }
.card .property-adder .tile { flex:none; align-items:stretch; border:1px solid rgba(0,0,0,0.1); background:#fff; border-radius:2px; max-width:320px; }
.card .property-adder .tile:hover { background:#fff; }
.card .property-adder input { text-align:left; padding:0; }

.card .description-adder textarea { width:263px; border:none; height: 75px; font-size:12pt; outline:none; }

/*---------------------------------------------------------
- Wiki editor
---------------------------------------------------------*/

.wiki-editor { overflow:auto; min-height: 92px; }
.wiki-editor .CodeMirror { font-family: "Lato"; font-size: 16px; color: rgb(84,84,84); font-weight:400; width:450px; }
.wiki-editor .CodeMirror-lines { padding: 0; }
.wiki-editor .CodeMirror-line { padding: 0; }

.wiki-editor .CodeMirror-widget div { display:flex; }
.wiki-editor .CodeMirror-widget > div { display:inline-block; }
.wiki-editor .CodeMirror-widget content { align-items:flex-start; padding:0; }

.wiki-editor .cm-header { color: rgb(51,51,51); font-weight:bold; }
.wiki-editor .cm-header-1 { font-size: 28pt; line-height: 40px; }
.wiki-editor .cm-header-2 { font-size: 22pt; line-height: 40px; }
.wiki-editor .cm-header-3 { font-size: 16pt; line-height: 40px; }

.wiki-editor .cm-header-indicator { color: #aaa; }
/* .wiki-editor .cm-header-indicator-1 { margin-left:-17px; padding-right:8px; } */
/* .wiki-editor .cm-header-indicator-2 { margin-left:-25px; padding-right:8px; } */
/* .wiki-editor .cm-header-indicator-3 { margin-left: -35px; padding-right:8px; } */


.wiki-editor .attribute, .wiki-editor .value { color:#2C00FD; }
.wiki-editor .embed-code { background: #C7E7FF; }
.wiki-editor .cm-variable-2 { padding-left:15px; }

.wiki-editor .formatBar { display:flex; padding:0 5px; background: #555; color: #ccc; z-index: 20; flex-direction:row; border-radius:3px; }
.wiki-editor .formatBar .button { padding: 5px; cursor:default; align-items: center; width:35px; -webkit-user-select: none; }
.wiki-editor .formatBar .button:hover { background: #666; }
.wiki-editor .formatBar .sep { width:1px; padding:0; background: #333; }

.embedded-cell { flex-direction: row; align-items: center;  border-radius:3px; outline:none; box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 7px 15px rgba(0,0,0,0.1);  }
.embedded-cell .adornment { padding-left:5px; }
.embedded-cell span { outline: none; padding:3px 5px;}
.non-editing-embedded-cell { flex-direction:row; position:relative; }

.wiki-editor .non-editing-embedded-cell .edit-button-container { position:absolute; top:-10; right:-40; display:none; padding:10px 10px 30px 10px; z-index:1000; }
.wiki-editor .non-editing-embedded-cell:hover .edit-button-container { display: flex; }
.wiki-editor .non-editing-embedded-cell .edit-button{ padding:5px; background:#008cdd; color: #fff; border-radius:2px; font-size:10pt; cursor:pointer; }
.wiki-editor .non-editing-embedded-cell .edit-button:hover { background: #004A74; }

/*---------------------------------------------------------
- Delete prompt
---------------------------------------------------------*/

.delete-prompt { padding: 20px; width:400px; }
.delete-prompt h2 { color: red; font-weight:900; }
.delete-prompt .info { line-height: 1.5em; }
.delete-prompt button { margin-top:20px; border-radius: 3px; background: #e5e5e5; }
.delete-prompt button:hover { background: #d0d0d0; }
.delete-prompt .delete-btn { color: #555; padding:10px 20px; background: #fcc; }
.delete-prompt .delete-btn:hover { background: #f88;  }


/*---------------------------------------------------------
- Content
---------------------------------------------------------*/
.wiki-pane h1 { font-size: 1.5em; margin: 1rem; margin-bottom: 0.5rem; text-transform: capitalize; }
.wiki-pane h2 { font-weight: bold; }
.wiki-pane h3 { font-style: italic; }
.wiki-pane p { margin: 0.5rem 1rem; }
.wiki-pane ul, content ol { display: flex; flex-direction: column; margin-left: 1.5rem; justify-content: flex-start; align-items: flex-start; }
.wiki-pane ul { list-style-type: disc; }
.wiki-pane ol { list-style-type: decimal; }
.wiki-pane li { flex: 0 0 auto; }

.wiki-pane h1 { border-bottom: 1px solid #ccc; }

.wiki-pane .error-rep { color: #FF3333; }

.wiki-pane .link { color: #008cdd; cursor: pointer; border-bottom: 1px solid transparent; }
.wiki-pane .link:hover { border-bottom:1px solid #008cdd; }

.wiki-pane .csv { color: #A200A7;  }

/*---------------------------------------------------------
- Search Pane
---------------------------------------------------------*/
.wiki-search { display: flex; flex-direction: column; align-items: center; }

/*---------------------------------------------------------
- Table
---------------------------------------------------------*/
.table-wrapper { }
.table-wrapper, .table-body { display: flex; flex-direction: column; }
.table-wrapper div { display: flex; }
.table-wrapper > .table-header, .table-wrapper .table-row { display: flex; flex: 0 0 auto; flex-direction: row; position: relative; }
.table-wrapper .table-row.grouped { margin-bottom: -1px; }
.table-wrapper .column { display: inline-block; justify-content: center; width: 160px; padding: 5px 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.table-wrapper .field { display: flex; flex-direction: row; flex: 0 0 auto; }
.table-wrapper .field .text { display: inline-block; }
.table-wrapper .field .controls { opacity: 0.4; transition: opacity 0.2s; }
.table-wrapper .field:hover .controls { opacity: 1; }
.table-wrapper input { font-size: 1em; }

.table-wrapper .table-row > .controls, .table-wrapper .table-header > .controls { flex-grow: 1; background: #eee; opacity: 1; }

.table-wrapper { }
.table-wrapper > .table-header {  }
.table-wrapper .table-row + .table-row {  }
.table-wrapper .column + .column {  }

.table-wrapper .table-header .sort-toggle { opacity: 0.5; }
.table-wrapper .table-header .sort-toggle.active { opacity: 1; }

.mapped-table .commit-btn { align-self: stretch; align-items: center; padding: 5px 10px; }

/*---------------------------------------------------------
- Search Input
---------------------------------------------------------*/
.wiki-search-wrapper { flex-direction: row; position: relative; margin-bottom: 1px !important; overflow: hidden; font-size: 16pt; font-family: "Lato"; font-weight:300; }
.wiki-search-wrapper .CodeMirror.cm-s-default { font-size: 16pt; }
.wiki-search-wrapper .wiki-search-input { padding: 0 0.25em; padding-right: 2.75em; border-radius: 2px; }
.wiki-search-wrapper .controls { position: absolute; right: 0.25em; top: 0; bottom: 0; align-items: center; }

.wiki-search-wrapper .wiki-search-input { }
.wiki-search-wrapper .controls div { opacity: 0; transition: 0.2s all; }
.wiki-search-wrapper:hover .controls div, .wiki-search-wrapper .controls .visible { opacity: 1; }

/*---------------------------------------------------------
- CodeMirror general
---------------------------------------------------------*/

.CodeMirror { background: none; }
.CodeMirror div { display: block; }
.CodeMirror { font-family: "Lato", sans-serif; overflow:visible; height: auto; font-weight:400; line-height: 26px; color: rgb(84,84,84); }
.CodeMirror-scroll { height: auto; overflow: visible !important; }

/*---------------------------------------------------------
- Masonry
---------------------------------------------------------*/
.masonry { display: flex; flex-direction: column; }
.masonry-row { display: flex; flex-direction: row; align-items: stretch; }
.masonry-row > * { display: flex; }
.masonry-row > .group { flex-direction: column; }
.masonry-row .directory-tile { flex: 1; }
.masonry-row > .group.big { flex: 2; }
.masonry-row > .group.detailed { flex: 1; }
.masonry-row > .group.normal { flex: 1; }

/*---------------------------------------------------------
- Directory
---------------------------------------------------------*/
.directory { width: 800px; }
.directory h2 { padding-left: 5px; }
.directory p { margin-left: 5px; }

.directory-highlights.masonry { min-width: 600px; flex: 0 0 auto; } /* @FIXME */
.directory-highlights.masonry .masonry-row { flex: 0 0 auto; height: 96px; }
.directory-highlights.masonry .directory-tile { justify-content: center; align-items: center; margin: 4px; background: white; border-radius: 2px; }
.directory-highlights .directory-tile > * { flex: 0 0 auto; }

/* Background patterns from subtlepatterns.com */
.directory-highlights.masonry .directory-tile.tile-style-1 { }
.directory-highlights.masonry .directory-tile.tile-style-2 { }
.directory-highlights.masonry .directory-tile.tile-style-3 { }
.directory-highlights.masonry .directory-tile.tile-style-4 { }
.directory-highlights.masonry .directory-tile.tile-style-5 { }
.directory-highlights.masonry .directory-tile.tile-style-6 { }
.directory-highlights.masonry .directory-tile.tile-style-7 { }

.directory-lists { flex: 0 0 auto; }
.directory-list { margin: 4px; }
.directory-list .column { width: 72px; }
.directory-list .column:first-child { display: block; width: 208px; }
.directory-list .table-row > .controls { flex: 0; }
.directory-list select { margin-top: -1.4em; }

.collapsible > header { display: flex; flex-direction: row; align-items: center; }
.collapsible > header .collapse-toggle { margin-right: 1em; }
.table-filter, .table-filter > * { display: flex; flex-direction: row; align-items: center; }
.table-filter > * + *, .table-filter > * > * + * { margin-left: 1em; }

/*---------------------------------------------------------
- Dark
---------------------------------------------------------*/

.dark { background: #222; color: #ccc; }
.dark .CodeMirror { color: #ccc; }
.dark .card { background: #333; }
.dark .card .tile { border-color: #444; }
.dark .card .row { border-color: #444; }
.dark .card .list > * { background: #444; }
.dark header { border-color:#444; }
.dark .card .header { border-color:#444; }
.dark .card .tile-adder { background:#444; }
.dark .card .tile-adder .tile { border-color: #555; }
.dark .card .tile-adder .row { border-color: #555; }
.dark .card .tile-adder .property { color: #999; }
.dark .card .tile-adder .value { color: #ccc; }
.dark .card .adding .tiles { border-color: #444; }
.dark textarea, .dark input { color: #ccc; }
