body { position: relative; padding-bottom: 1.5em; background:linear-gradient(-215deg, #fff 0%, rgb(236,238,242) 40%); color: rgb(76, 85, 90); font-family: "Lato", sans-serif; font-weight: 400; }
* { box-sizing: border-box; }
div { display: flex; flex-direction: column; }
button, input { border:none; outline: none; font-family: "Lato", sans-serif; font-weight: 400; color: rgb(76,85,90); font-size: 12pt; }
input { background:none; }

a { color: #008cdd; cursor: pointer; border-bottom: 1px solid transparent; text-decoration: none; }
a:hover { text-decoration: underline; }

.flex-grow { flex: 1; }
.flex-row { display: flex !important; flex-direction: row; }
.flex-column { display: flex !important; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.fullscreen { width: 100vw; min-height: 100vh; }

.no-mouse { pointer-events: none; }

.spaced-row > * + * { margin-left: 0.2em; }
.csv { flex-direction: row; }
.csv > * + span { margin-left: 0.4em; }
.csv > span + span:before { position: relative; left: -0.4em; content: ","; }

/*---------------------------------------------------------
- Root
---------------------------------------------------------*/
body { height: 100vh; width: 100vw; }
.logo { width: 48px; height: 48px; background-size: contain; background-position: top center; background-repeat: no-repeat; }
.eve-logo { width: 28px; height: 32.5px; background-size: cover; background-image: url("http://www.witheve.com/logo.png"); }

#perfStats { position: absolute; background: rgba(255, 255, 255, 0.5); padding:10px; bottom: 0px; right: 15px; color: #888; z-index: 20; }

.shade { position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 10; background: rgba(0, 0, 0, 0.0); align-items: center; justify-content: center; }

.modal-prompt { padding: 20px; background: white; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
.modal-prompt header > * { display: flex; margin-bottom:20px; }
.modal-prompt h2 { text-align: center; font-size:18pt; }
.modal-prompt > p { margin-bottom: 0.5em; }

/*---------------------------------------------------------
- Controls
---------------------------------------------------------*/
.controls { flex-direction: row; }
.controls > div { padding: 0.25em; border-radius: 2px; }

div > header > .controls { opacity: 0; }
div:hover > header > .controls, header > .controls.visible { opacity: 1; }
.controls > div:hover { background: rgba(255, 255, 255, 0.25); }

/*---------------------------------------------------------
- Pane
---------------------------------------------------------*/
.wiki-pane.fullscreen { position: relative; padding: 50px 100px; }
.wiki-pane > header { padding: 10px 0.5em; align-items: center; border-bottom: 1px solid #ccc; }
.wiki-pane > header > * { margin: 0 0.5em;}
.wiki-pane > header > .controls { margin-right: -43px; }
.wiki-pane > content { display: flex; } /* @TODO: Breakpoints overflow-y: auto*/
.wiki-pane > content.unwrapped .text-content { flex: 1; }
.wiki-pane > content.unwrapped .CodeMirror { width: auto; max-width: 760px; }

.wiki-pane {}

.wiki-entity { flex: 1; flex-direction: row; overflow:hidden; justify-content: center; }
.disambiguation { align-self: stretch; flex-direction: row; padding: 15px 25px; margin-bottom: 1rem; color: #999;  }

.wiki-pane > .settings { display: flex; flex-direction: column; align-items: stretch; position: absolute; right: 15px; top: 100px; z-index: 11; background: white; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.wiki-pane > .settings:before { content: ""; position: absolute; top: -7px; right: 56px; border: 7px solid transparent; border-bottom-color: #ccc; border-top: none; }
.wiki-pane > .settings:after { content: ""; position: absolute; top: -6px; right: 57px; border: 6px solid transparent; border-bottom-color: white; border-top: none; }
.wiki-pane > .settings li { display: flex; padding: 10px; }
.wiki-pane > .settings li + li { border-top: 1px solid #ccc; }
.wiki-pane > .settings li.disabled { color: #999; }

.wiki-pane > .settings li:hover { background: #f9f9f9; }
.wiki-pane > .settings li.disabled:hover { background: transparent; }

.wiki-pane > .settings .delete-btn { color: #dd3311; }

/*---------------------------------------------------------
- Popout pane
---------------------------------------------------------*/

.wiki-pane.window > header > * { margin:0;}
.wiki-pane.window { position:absolute; max-height:40%; box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 7px 15px rgba(0,0,0,0.1); background: #fff; border-radius:3px; z-index:10; }
.wiki-pane.window > header { background: #fff; padding: 10px 5px; padding: 0; border:none; }
.wiki-pane.window > header button { border:none; border-radius:0px; background:none; font-size: 20px; font-weight:400; color:#555; padding:8px 10px; color: #008cdd; position:absolute; top:0; right:0; z-index:10;  }
.wiki-pane.window > header button:hover { background: rgba(0, 140, 221, 0.15); }
.wiki-pane.window > header .controls { opacity:1; color: #777; }
.wiki-pane.window .wiki-entity { padding: 25px 20px; }
.wiki-pane.window .wiki-entity .CodeMirror { flex: 1; overflow:visible; }
.wiki-pane.window .wiki-editor { padding: 0px 30px;  }
.wiki-pane.window .card { margin: 0; }

/*---------------------------------------------------------
- Autocompleter
---------------------------------------------------------*/

.autocompleter { position: absolute; z-index:10; background: #fff;  box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 7px 15px rgba(0,0,0,0.1); border-radius:3px; margin-top:5px; }
.autocompleter .option { padding:8px 10px; flex-direction:row; }
.autocompleter .selected { background:rgba(0, 140, 221, 0.10); }
.autocompleter .option + .option { border-top: 1px solid #ddd; }
.autocompleter .inline-cell { min-width: 80px; outline:none; padding-left:8px; border-left:1px solid #aaa; margin-left:8px; }

/*---------------------------------------------------------
- Form
---------------------------------------------------------*/

.form-row + .form-row { margin-left:10px;  }
.form-row label { display:none; margin-bottom:3px; font-size: 10pt; }


.labeled-input { flex-direction:row; }
.labeled-input { border-radius:0px; align-items: center; background: none; }
.labeled-input label { font-size: 10pt; padding:8px 6px; }
.labeled-input input { font-size: 10pt; border-radius:0; padding: 8px 10px; min-width:280px; }
* + .labeled-input input { border-left: 1px solid #ddd;  }
.labeled-input input + * { border-left:1px solid #ddd; }

/*---------------------------------------------------------
- Card
---------------------------------------------------------*/

.card { background: white; align-self:center; align-items: stretch; min-width:200px; box-shadow: 0 20px 50px rgba(0,0,50,0.10); margin-top:100px; border-radius:5px; overflow:hidden; }
.card .text-content { margin-right:10px; min-width:250px; white-space:pre-wrap; line-height:28px; color:#aaa; flex:none; max-height:50%; }
.card .header { flex:none; padding:10px 20px; font-size: 18pt; font-weight: 900; color: rgb(106,138,156); border-bottom: 1px solid #eee; }
.card .wiki-editor { padding: 30px; padding-top:0; margin-bottom:20px; }
.card + .card { margin-top:40px; }

.card .tiles { flex-direction: row; flex-wrap: wrap; max-width: 360px; }
.card .tile { flex: 1 0 0; padding:15px; overflow:hidden; }
.card .tile .property { font-size: 9pt; text-transform: uppercase; color: #aaa; }
.card .tile.small, .card .tile.medium { align-items: center; justify-content: center; }
.card .tile + .tile { border-left: 1px solid #eee; }
.card .tile.small .value, .card .tile.medium .value { font-size: 16pt; margin-bottom:5px; }
.card .row { width: 100%;  }
.card .row + .row { border-top:1px solid #eee; }

.card .tile .multi-value { flex-direction: row; }
.card .multi-value * + * { border-left: 1px solid #ddd; padding-left: 10px; margin-left: 10px; }

.card .tile .list { max-height: 200px; overflow:auto; }

/*---------------------------------------------------------
- Selector
---------------------------------------------------------*/

.selector { flex-direction:row; background:#fff; border:1px solid #ccc; border-radius:3px; }
.selector *:nth-child(2) { background: orange; color: #333; text-shadow:none; }
.selector * { justify-content:center; background:none; border:none; color: #666; font-size: 11pt; font-family: "Lato"; font-weight: 400; padding:3px 8px; }
.selector * + * { margin-left: 5px; }

/*---------------------------------------------------------
- Wiki editor
---------------------------------------------------------*/

.wiki-editor { overflow:auto; }
.wiki-editor .CodeMirror { font-family: "Lato"; font-size: 16px; color: rgb(84,84,84); font-weight:400; width:450px; }
.wiki-editor .CodeMirror-lines { padding: 0; }
.wiki-editor .CodeMirror-line { padding: 0; }

.wiki-editor .CodeMirror-widget div { display:flex; }
.wiki-editor .CodeMirror-widget > div { display:inline-block; }
.wiki-editor .CodeMirror-widget content { align-items:flex-start; padding:0; }

.wiki-editor .cm-header { color: rgb(51,51,51); font-weight:bold; }
.wiki-editor .cm-header-1 { font-size: 28pt; line-height: 40px; }
.wiki-editor .cm-header-2 { font-size: 22pt; line-height: 40px; }
.wiki-editor .cm-header-3 { font-size: 16pt; line-height: 40px; }

.wiki-editor .cm-header-indicator { color: #aaa; }
/* .wiki-editor .cm-header-indicator-1 { margin-left:-17px; padding-right:8px; } */
/* .wiki-editor .cm-header-indicator-2 { margin-left:-25px; padding-right:8px; } */
/* .wiki-editor .cm-header-indicator-3 { margin-left: -35px; padding-right:8px; } */


.wiki-editor .attribute, .wiki-editor .value { color:#2C00FD; }
.wiki-editor .embed-code { background: #C7E7FF; }
.wiki-editor .cm-variable-2 { padding-left:15px; }

.wiki-editor .table .field { width: 160px; }

.wiki-editor .formatBar { display:flex; padding:0 5px; background: #555; color: #ccc; z-index: 20; flex-direction:row; border-radius:3px; }
.wiki-editor .formatBar .button { padding: 5px; cursor:default; align-items: center; width:35px; -webkit-user-select: none; }
.wiki-editor .formatBar .button:hover { background: #666; }
.wiki-editor .formatBar .sep { width:1px; padding:0; background: #333; }

.embedded-cell { flex-direction: row; align-items: center;  border-radius:3px; outline:none; box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 7px 15px rgba(0,0,0,0.1);  }
.embedded-cell .adornment { padding-left:5px; }
.embedded-cell span { outline: none; padding:3px 5px;}
.non-editing-embedded-cell { flex-direction:row; position:relative; }

.wiki-editor .non-editing-embedded-cell .edit-button-container { position:absolute; top:-10; right:-40; display:none; padding:10px 10px 30px 10px; z-index:1000; }
.wiki-editor .non-editing-embedded-cell:hover .edit-button-container { display: flex; }
.wiki-editor .non-editing-embedded-cell .edit-button{ padding:5px; background:#008cdd; color: #fff; border-radius:2px; font-size:10pt; cursor:pointer; }
.wiki-editor .non-editing-embedded-cell .edit-button:hover { background: #004A74; }

/*---------------------------------------------------------
- Delete prompt
---------------------------------------------------------*/

.delete-prompt { padding: 20px; width:400px; }
.delete-prompt h2 { color: red; font-weight:900; }
.delete-prompt .info { line-height: 1.5em; }
.delete-prompt button { margin-top:20px; border-radius: 3px; background: #e5e5e5; }
.delete-prompt button:hover { background: #d0d0d0; }
.delete-prompt .delete-btn { color: #555; padding:10px 20px; background: #fcc; }
.delete-prompt .delete-btn:hover { background: #f88;  }


/*---------------------------------------------------------
- Content
---------------------------------------------------------*/
.wiki-pane h1 { font-size: 1.5em; margin: 1rem; margin-bottom: 0.5rem; text-transform: capitalize; }
.wiki-pane h2 { font-weight: bold; }
.wiki-pane h3 { font-style: italic; }
.wiki-pane p { margin: 0.5rem 1rem; }
.wiki-pane ul, content ol { display: flex; flex-direction: column; margin-left: 1.5rem; justify-content: flex-start; align-items: flex-start; }
.wiki-pane ul { list-style-type: disc; }
.wiki-pane ol { list-style-type: decimal; }
.wiki-pane li { flex: 0 0 auto; }

.wiki-pane h1 { border-bottom: 1px solid #ccc; }

.wiki-pane .error-rep { color: #FF3333; }

.wiki-pane .link { color: #008cdd; cursor: pointer; border-bottom: 1px solid transparent; }
.wiki-pane .link:hover { border-bottom:1px solid #008cdd; }

.wiki-pane .csv { color: #A200A7;  }

/*---------------------------------------------------------
- Search Pane
---------------------------------------------------------*/
.wiki-search { display: flex; flex-direction: column; align-items: center; }
.table { display: flex; }
.table div, .table header { display: flex !important; }
.table .group, .table > header { flex-direction: row; }
.table .column { justify-content: center; }
.table .field { display: block; max-width: 254px; min-width: 80px; padding: 5px 10px; width: 160px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.table input { font-size: 1em; }

.table { border: 1px solid #ddd; border-radius: 2px; }
.table > header { border-bottom: 1px solid #ddd; background: #f5f5f5; }
.table .group + .group, .table .sub-group + .sub-group { border-top: 1px solid #ddd; }
.table .column + .column { border-left: 1px solid #ddd; }
.table .column .field + .field { border-top: 1px solid #ddd; }

.table .sub-row { flex-direction: row; }

.table header .sort-toggle { opacity: 0.5; }
.table header .sort-toggle.active { opacity: 1; }

/*---------------------------------------------------------
- Search Input
---------------------------------------------------------*/
.wiki-search-wrapper { flex-direction: row; position: relative; margin-bottom: 1px !important; overflow: hidden; font-size: 16pt; font-family: "Lato"; font-weight:300; }
.wiki-search-wrapper .CodeMirror.cm-s-default { font-size: 16pt; }
.wiki-search-wrapper .wiki-search-input { padding: 0 0.25em; padding-right: 2.75em; border-radius: 2px; }
.wiki-search-wrapper .controls { position: absolute; right: 0.25em; top: 0; bottom: 0; align-items: center; }

.wiki-search-wrapper .wiki-search-input { }
.wiki-search-wrapper .controls div { opacity: 0; transition: 0.2s all; }
.wiki-search-wrapper:hover .controls div, .wiki-search-wrapper .controls .visible { opacity: 1; }

/*---------------------------------------------------------
- CodeMirror general
---------------------------------------------------------*/

.CodeMirror { background: none; }
.CodeMirror div { display: block; }
.CodeMirror { font-family: "Lato", sans-serif; overflow:visible; height: auto; font-weight:400; line-height: 26px; color: rgb(84,84,84); }
.CodeMirror-scroll { height: auto; overflow: visible !important; }

/*---------------------------------------------------------
- Masonry
---------------------------------------------------------*/
.masonry { display: flex; flex-direction: column; }
.masonry-row { display: flex; flex-direction: row; align-items: stretch; }
.masonry-row > * { display: flex; }
.masonry-row > .group { flex-direction: column; }
.masonry-row .directory-tile { flex: 1; }
.masonry-row > .group.big { flex: 2; }
.masonry-row > .group.detailed { flex: 1; }
.masonry-row > .group.normal { flex: 1; }

/*---------------------------------------------------------
- Directory
---------------------------------------------------------*/
.directory h2 { display: flex; justify-content: center; align-items: center; margin: 4px; padding: 0 1em; height: 40px; border-radius: 2px; }

.directory-listing.masonry {  min-width: 600px; } /* @FIXME */
.directory-listing.masonry .masonry-row { height: 96px; }
.directory-listing.masonry .directory-tile { justify-content: center; align-items: center; margin: 4px; background: white; border-radius: 2px; }
.directory-listing .directory-tile > * { flex: 0 0 auto; }

/* Background patterns from subtlepatterns.com */
.directory-listing.masonry .directory-tile.tile-style-1 { }
.directory-listing.masonry .directory-tile.tile-style-2 { }
.directory-listing.masonry .directory-tile.tile-style-3 { }
.directory-listing.masonry .directory-tile.tile-style-4 { }
.directory-listing.masonry .directory-tile.tile-style-5 { }
.directory-listing.masonry .directory-tile.tile-style-6 { }
.directory-listing.masonry .directory-tile.tile-style-7 { }

.table.overflow-list { margin: 4px; }
.table.overflow-list .column { flex: 0; width: 72px; }
.table.overflow-list .column:first-child { flex: 1; width: auto; }

.collapsible > header { display: flex; flex-direction: row; align-items: center; }
.collapsible > header .collapse-toggle { margin-right: 1em; }
.table-filter, .table-filter > * { display: flex; flex-direction: row; align-items: center; }
.table-filter > * + *, .table-filter > * > * + * { margin-left: 1em; }
