html, body {
  height: 100%;
  color: rgb(200,200,200);
  background-color: rgb(30,30,30);
  overflow: hidden;
  font-family: sans-serif;
}

.logo { 
  margin: 20px;
}

/* Basic Structure */

.status-bar {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37,37,37);
}

.repl {
  height: 100%;
  display: flex;
}

.card-root {
  padding: 10px;
  flex-grow: 1;
  background-color: rgb(30,30,30);
  overflow-y: auto;
}

.repl-card {
  display: flex;
  margin-bottom: 10px;
}

.query-input {
  width: 300px;
  background-color: rgb(50,50,50);
}

.query-result {
  background-color: rgb(50,50,50);
  margin-left: 10px;
  padding: 10px;
  flex-grow: 1;
}

/* Table Styles */

.table { display: table; }
.table { border-left: 1px solid rgb(208,208,208); border-bottom: 1px solid rgb(208,208,208); }

.header { display: table-row; font-weight: bold; text-align: center; letter-spacing: 2px; }
.header { background-color: #333; }

.row { display: table-row; }

.cell { display: table-cell; padding: 5px; min-width: 25px; }
.header .cell { padding: 7px;}
.cell { border-top: 1px solid rgb(208,208,208); border-right: 1px solid rgb(208,208,208); }

/* Button styles */ 

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  height: 14px;
  padding: 5px 10px 5px 10px;
  min-width: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity .5s;
}
.button {
  background-color: rgb(91,89,164);
  border: 1px solid rgb(74,64,136);
  transition: all 1s;
}
.button .disabled {
  background-color: gray;
  border-color: #333;
}

/* The Status Indicator */

.indicator {
  width: 7px;
  height: 7px; 
  border-radius: 15px;
  border: 2px;
  border-style: solid;
  background-color: black;
  border-color: black;
  transition: background-color 1s, border-color 1s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 10px;
}
.connected { background-color: lightgreen; border-color: green; }
.connecting { background-color: yellow; border-color: darkgoldenrod; }
.disconnected { background-color: red; border-color: darkred; }

/* CodeMirror style overrides */

.CodeMirror {
  max-height: 200px;
  color: rgb(200,200,200);
  background-color: rgba(0,0,0,0);
  cursor: text;
}

.CodeMirror-cursor {
  width: 2px;
  height: 1em;
  background-color: rgb(200,200,200);
}

.CodeMirror-selected {

}

/* Misc */

#perfstats { display: none; }