html, body {
  height: 100%;
  color: rgb(200,200,200);
  background-color: rgb(30,30,30);
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

h2 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo { 
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Basic Structure */

.status-bar {
  width: 125px;
  min-width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37,37,37);
  padding: 10px;
}

.status-bar .logo {
  margin-bottom: 20px;
}

.repl {
  height: 100%;
  display: flex;
}

.results-switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  float: right;
}

.results-switch > .button {
  margin-left: 10px;
}

.card-root {
  padding: 10 0 10 10;
  display: flex;
  flex-grow: 1;
}

.card-column {
  padding: 0 10 0 0px;
  flex-grow: 1;
  background-color: rgb(30,30,30);
  overflow-y: auto;
}
.card-column::-webkit-scrollbar { width: 5px; height: 5px; }
.card-column::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0); } 
.card-column::-webkit-scrollbar-thumb { background-color: rgb(80,80,80); outline: 1px solid slategrey; } 
.card-column::-webkit-scrollbar-corner { background-color: transparent;} 

.repl-card {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,0);
  z-index: 99;
}

.focused {
  border: 1px solid rgb(65, 161, 221);
}

.query-input {
  min-width: 300px;
  padding: 10px;
  background-color: rgb(50,50,50);
}

.query-result {
  background-color: rgb(40,40,40);
  padding: 10px;
  flex-grow: 1;
}

/* Modal Styles */

.modal {
	position: absolute;
	background-color: rgba(30,30,30,1);
	border: 1px solid rgb(91,89,164);
  border-radius: 4px;
  z-index: 100;
  padding: 20px;
  transform: translateY(-50%);
}

.modal:after, .modal:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.modal:after {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(30,30,30,1);
	border-width: 15px;
	margin-top: -15px;
}
.modal:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: rgb(91,89,164);;
	border-width: 16px;
	margin-top: -16px;
}

/* Chat */

.chat-bar {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33,33,33);
  padding: 10px;
}

.chat-input {
  color: rgb(200,200,200);
  background-color: rgb(50,50,50);
  border: 0px;
  padding:10px;
  width: 200px;
}

textarea:focus, input:focus{
  outline: none;
}

.conversation {
  overflow-y: auto;
  background-color: rgb(50,50,50);
  width: 180px;
  padding:10px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.conversation::-webkit-scrollbar { width: 5px; height: 10px; } 
.conversation::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0); } 
.conversation::-webkit-scrollbar-thumb { background-color: rgb(80,80,80); outline: 1px solid slategrey; } 
.conversation::-webkit-scrollbar-corner { background-color: transparent;} 

.chat-message-box {
  margin-bottom: 15px;
}

.chat-user {
  font-size: 13px;
  font-weight: bold;
  display: inline;
  margin-right: 10px;
}

.chat-user .me {
  color: rgb(65, 161, 221);
}

.chat-time {
  font-size: 10px;
  color: rgb(150,150,150);
  display: inline;
}

.chat-message {
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;
}

.unread {
  font-size: 12px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  transform: translateY(-3px);
  padding: 3px;
  color: white;
  border: 1px solid rgb(65, 161, 221); 
  margin-left: 15px;
  float: right;
}

/* Login */

.login {
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login * {
  margin-bottom: 25px;
}

.login input {
  color: rgb(200,200,200);
  background-color: rgba(0,0,0,0);
  border: 1px solid rgb(200,200,200);
  padding: 10px;
  border-radius: 4px;
}


.login .button {
  padding: 10px;
  width: 100px;
}

.login .logo {
  margin-bottom: 50px;
}

/* Table Styles */

.table { display: table; }
.table { border-left: 1px solid rgb(208,208,208); border-bottom: 1px solid rgb(208,208,208); }

.header { display: table-row; font-weight: bold; text-align: center; letter-spacing: 2px; }
.header { background-color: #333; }

.row { display: table-row; }

.cell { display: table-cell; padding: 5px; min-width: 25px; white-space: pre; }
.header .cell { padding: 7px;}
.cell { border-top: 1px solid rgb(208,208,208); border-right: 1px solid rgb(208,208,208); }

/* List Styles */

li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(40,40,40);
  padding: 2px;
}

.info-table {
  width: 85%;
}

.info {
  background-color: rgb(60,60,60);
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  font-size: 12px;
  width: 80%;
  min-height: 100px;
  overflow-x: hidden;
}
.info::-webkit-scrollbar { width: 5px; height: 10px; } 
.info::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0); } 
.info::-webkit-scrollbar-thumb { background-color: rgb(80,80,80); outline: 1px solid slategrey; } 
.info::-webkit-scrollbar-corner { background-color: transparent;} 

.info-link {
  cursor: pointer;
}

/* Button styles */ 

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  min-height: 14px;
  padding: 5px 10px 5px 10px;
  min-width: 5px;
  text-align: center;
  opacity: 1;
  border: 1px solid rgb(91,89,164);
}
.button .disabled {
  border: 1px solid rgb(255,255,255);
}

/* CodeMirror style overrides */

.CodeMirror {
  height: 100px;
  color: rgb(200,200,200);
  background-color: rgba(0,0,0,0);
  cursor: text;
}

.CodeMirror-cursor {
  width: 2px;
  height: 1em;
  background-color: rgb(200,200,200);
}

.CodeMirror-selected {

}

/* Switches */

.code {
  background-color: rgb(50,50,50);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre; 
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.stretch {
  flex-grow: 1;
}

.error {
  background-color: rgb(66,35,35);
}

/* Misc */

#perfstats { display: none; }