html, body {
  height: 100%;
  color: rgb(200,200,200);
  background-color: rgb(30,30,30);
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

h2 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo { 
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Basic Structure */

.status-bar {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37,37,37);
  padding: 10px;
}

.repl {
  height: 100%;
  display: flex;
}

.results-switch {
  display: flex;
  flex-direction: row;
  float: right;
  clear: none;
}

.results-switch > .button {
  margin-left: 10px;
}

.card-root {
  display: flex;
  flex-grow: 1;
}

.card-column {
  padding: 10px;
  flex-grow: 1;
  background-color: rgb(30,30,30);
  overflow-y: auto;
}
.card-column::-webkit-scrollbar { width: 10px; height: 10px; } 
.card-column::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0); } 
.card-column::-webkit-scrollbar-thumb { background-color: rgb(80,80,80); outline: 1px solid slategrey; } 
.card-column::-webkit-scrollbar-corner { background-color: transparent;} 

.repl-card {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,0);
}

.focused {
  border: 1px solid rgb(65, 161, 221);
}

.query-input {
  min-width: 300px;
  padding: 10px;
  background-color: rgb(50,50,50);
}

.query-result {
  background-color: rgb(40,40,40);
  min-height: 200px;
  padding: 10px;
  flex-grow: 1;
}

/* Modal Styles */

.modal {
  background-color: rgba(0,0,0,.7);
  border: 1px solid rgb(91,89,164);
  padding: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
}

/* Table Styles */

.table { display: table; }
.table { border-left: 1px solid rgb(208,208,208); border-bottom: 1px solid rgb(208,208,208); }

.header { display: table-row; font-weight: bold; text-align: center; letter-spacing: 2px; }
.header { background-color: #333; }

.row { display: table-row; }

.cell { display: table-cell; padding: 5px; min-width: 25px; }
.header .cell { padding: 7px;}
.cell { border-top: 1px solid rgb(208,208,208); border-right: 1px solid rgb(208,208,208); }

/* List Styles */

li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(40,40,40);
  padding: 2px;
}

.entities-table {
  width: 80%;
}

.entities {
  background-color: rgb(60,60,60);
  padding: 10px;
  font-size: 12px;
  width: 80%;
}

.entity-link {
  cursor: pointer,
}

/* Button styles */ 

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  min-height: 14px;
  padding: 5px 10px 5px 10px;
  min-width: 5px;
  text-align: center;
  opacity: 1;
  border: 1px solid rgb(91,89,164);
}
.button .disabled {
  border: 1px solid rgb(255,255,255);
}

/* The Status Indicator */

.indicator {
  width: 7px;
  height: 7px; 
  border-radius: 15px;
  border: 2px;
  border-style: solid;
  background-color: black;
  border-color: black;
  transition: background-color 1s, border-color 1s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 10px;
}
.connected { background-color: lightgreen; border-color: green; }
.connecting { background-color: yellow; border-color: darkgoldenrod; }
.disconnected { background-color: red; border-color: darkred; }

/* CodeMirror style overrides */

.CodeMirror {
  height: 100px;
  color: rgb(200,200,200);
  background-color: rgba(0,0,0,0);
  cursor: text;
}

.CodeMirror-cursor {
  width: 2px;
  height: 1em;
  background-color: rgb(200,200,200);
}

.CodeMirror-selected {

}

/* Switches */

.code {
  background-color: rgb(50,50,50);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre; 
}

.hidden {
  display: none;
}

.stretch {
  flex-grow: 1;
}

.error {
  background-color: rgb(66,35,35);
}

/* Misc */

#perfstats { display: none; }