html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url("../resources/fonts/Nunito-Light.ttf") format('woff');
}
* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
html,
body {
  height: 100%;
  overflow: none;
}
body {
  background: #fff;
  color: #666;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 11pt;
}
ul,
li {
  list-style: none;
}
#clear-pixel {
  position: absolute;
  top: 0;
  left: 0;
}
#stats {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  color: #aaa;
}
#stats span:first-child {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 10px;
}
.root {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  padding: 20px 50px;
}
.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
}
.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.program-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.program-list li {
  padding: 10px 20px;
}
.table-list {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.table-list > li {
  margin-bottom: 5px;
}
.table-list ul {
  margin-left: 15px;
}
.rules-list {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.rules-list > li {
  width: 300px;
  border-radius: 3px;
  background: #ddd;
  margin-bottom: 10px;
}
.rules-list > li h2 {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #fff;
}
.rules-list > li .io {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rules-list > li .io ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5px;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.rules-list > li .io .separator {
  background: #d0d0d0;
  position: relative;
  width: 20px;
}
.rules-list > li .io .separator svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.rules-list > li .io .separator .arrow {
  fill: #ddd;
}
.rules-list > li .io .sources {
  background: #ddd;
  border-radius: 0 0 0 3px;
}
.rules-list > li .io .sinks {
  background: #d0d0d0;
  border-radius: 0 0 3px 0;
}
.rule-page {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.rule-page header {
  margin: 20px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rule-page header button {
  position: absolute;
  top: 0;
  left: 0;
}
.rule-page header h2 {
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  padding: 5px;
}
.rule-page .vbox {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-bottom: 30px;
}
.rule-page .rule-space {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.rule-page .table-list {
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  padding: 0 20px;
  margin-bottom: 10px;
  min-width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  overflow: auto;
}
.rule-page .table-list li {
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.rule-page .table-list li + li {
  margin-left: 5px;
}
.rule-page .table-list li {
  display: inline-block;
  border: 1px solid #333;
}
.rule-page .io {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-top: 10px;
  min-height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
}
.rule-page .io .separator {
  background: #d0d0d0;
  position: relative;
  width: 20px;
}
.rule-page .io .separator svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.rule-page .io .separator .arrow {
  fill: #ddd;
}
.rule-page .sinks,
.rule-page .sources {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  padding: 10px 20px;
  overflow: auto;
  min-width: 130px;
}
.rule-page .sources {
  background: #ddd;
  background: none;
}
.rule-page .sinks {
  background: #d0d0d0;
  background: none;
}
.rule-page .io-item {
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 8px;
}
.rule-page .io-item span {
  padding: 5px 10px;
}
.rule-page .io-item ul {
  border-left: 1px solid #000;
}
.rule-page .io-item ul li {
  padding: 3px 10px;
}
.rule-page .io-item ul li + li {
  border-top: 1px solid #000;
}
.rule-page .workspace {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  max-width: 100%;
  overflow: auto;
  box-shadow: 0 0 10px #777;
  z-index: 10;
  border-radius: 3px;
}
.rule-page .workspace .grid {
  border-left: none;
  border-top: none;
}
.grid {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.grid .grid-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
.grid .grid-header div {
  overflow: hidden;
  padding: 5px;
  width: 130px;
}
.grid .grid-header div + div {
  border-left: 1px solid #ccc;
}
.grid .grid-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
}
.grid .grid-row div {
  padding: 5px;
  width: 130px;
  overflow: hidden;
}
.grid .grid-row div + div {
  border-left: 1px solid #ccc;
}
.grid .grid-row + .grid-row {
  border-top: 1px solid #ccc;
}
.ui-editor .table-list {
  box-flex: 0;
  -webkit-flex: none;
  flex: none;
  margin-right: 20px;
}
.ui-editor .toolbox li {
  padding: 5px 10px;
  border-radius: 3px;
  background: #ddd;
}
.ui-editor .toolbox li + li {
  margin-top: 5px;
}
.ui-editor .canvas {
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #f7f7f7;
}
.ui-editor .canvas .control {
  position: absolute;
}
.ui-editor .canvas div.control {
  background: #00a6fc;
  width: 100px;
  height: 100px;
}
