/target
/lib
/classes
/checkouts
resources/cljs/
resources/editor.js*
resources/compiler.js*
resources/runtime.js*
resources/bootstrap.js
node-webkit*
aurora.app
nw*
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
