/target
/lib
/classes
/checkouts
resources/cljs/
resources/editor.js*
resources/compiler.js*
resources/runtime.js*
resources/bootstrap.js
node-webkit*
aurora.app
Eve.app
env.sh
nw*
pom.xml
*.jar
*.class
.lein-*
resources/
hs_err*
.nrepl-port
*.DS_Store
node_modules/
stylus/*.css
*.log
build/
