/* RESET */

html {
	margin:0;
	padding:0;
	border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	line-height: 1.5;
	background: white;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

* {outline:none;}

/* STYLES */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(fonts/Nunito-Light.ttf) format('woff');
}

* { box-sizing:border-box !important; }
html, body { height:100%; overflow:none; }
body { background:#fff; color: #666; font-family: "Nunito"; font-weight:300; font-size: 11pt; }
ul, li { list-style:none; }
#clear-pixel { position:absolute; top:0; left: 0;}

#wrapper { display:flex; width:100%; height:100%; flex-direction:row; align-items:stretch; justify-content:stretch; }
.toolbar { width:50px; background:#fff; display:flex; flex-direction:column; justify-content:center; padding-left:10px;  display:none; G}
.toolbar li { font-size:25px; width:40px; color:#aaa; padding:10px; border-radius:3px; }
.toolbar li:hover { background:#eee; }
.ui-canvas { display:flex; flex:1; height:100%; }
.ui-canvas .canvas { display:flex; align-items:center; justify-content:stretch; flex-direction:column; background:white; width:100%; border-radius:3px; }
.canvas .design-frame { position:relative; height:100%; width:1280px; border-left:1px solid #ddd; border-right:1px solid #ddd; }


.add-button { background:rgba(255,255,255, 0.10); color:#aaa; }
.add-button:hover { background:rgba(255,255,255, 0.18); color:#eee; box-shadow:0 0 20px #000;  }

.grid { position:relative; display:inline-block; overflow:none; box-shadow: 0 0 0px #ccc; border-spacing:0; border-collapse: separate; background:none;  width:auto; border-radius:3px; }
.grid td, .grid th { border-top:1px solid #bbb; background:#e7e7e7; border-right:1px solid #bbb; width:130px; padding:3px 8px; }
.grid td { text-align: left; }
.grid th { text-align:center; padding:3px 0; background:#bbbbcf; color:#494456; border-color:#99b; }
.grid th:first-child { border-top-left-radius: 3px; }
.grid th:last-child { border-top-right-radius: 3px; }
.grid tr:last-child td:last-child { border-botom-left-radius: 3px; }
.grid tr td:first-child, .grid tr th:first-child { border-left: 0px solid #d7d7d7; }
.grid tr:last-child td { border-bottom:0px solid #d7d7d7; }
.grid tr:last-child td:first-child { border-bottom-left-radius:3px; }
.grid tr:last-child td:last-child { border-bottom-right-radius:3px; }
.grid th.empty { border:none !important; background:none; padding:0; }
.grid th.modifier { border:none !important; background:rgba(255,180,250, 0.25); color:#dfd0ff; padding:3px 12px; padding-bottom:8px; border-top-left-radius:3px; border-top-right-radius:3px; }
.grid thead { display:block; }
.grid tbody { display:block; max-height:250px; overflow:auto; border-bottom-left-radius:3px; border-bottom-right-radius:3px; }
.grid { box-shadow:0 0 0px #000; }

.toolbox { background:#eee; margin:10% 0; list-style:none;}
.toolbox li { padding:5px 10px; border-radius:3px; }

.text { display:inline-block; position:absolute; vertical-align:top; }

.elem { overflow:hidden; position:absolute; display:inline-block; z-index:1; }

.box { min-height:1px; padding:15px; width:100%; z-index:0; }

.button { text-align:center; padding:5px 10px; background: #ddd; border-radius:3px; cursor:default; }
.button:hover { background:#ccc; }

.button-wrapper { display:inline-block; }
.text-wrapper {display:inline-block;}
.div-wrapper { display:block; }

.active-element-overlay { z-index:10; border:0px solid #aaa; border-radius:3px; position:absolute; pointer-events:none; }
.grip {background: #fff; width:7px; height:7px; position:absolute; border:1px solid #88f; pointer-events:all; border-radius:10px; z-index:10;}
.grip-vertical { cursor: ns-resize; }
.grip-horizontal { cursor: ew-resize; }
.grip-up-diagonal { cursor: nesw-resize; }
.grip-down-diagonal { cursor: nwse-resize; }

.control { position:absolute; display:inline-block; pointer-events: all;}
.control-background-color { width:15px; height:15px; border-radius:3px; border:0px solid #333; background:#ccc; }

.selection-rect { background: rgba(200,200,255,0.0); border:2px solid #aaf; opacity:0.4; position:absolute; border-radius:3px; z-index:10; pointer-events:none;}

.selected {}

.undo-tree { position:absolute; list-style:none; }

.guides { width:100%; height:100%; position:relative; pointer-events:none; }
.guides .guide {border-right:1px dashed rgba(30,30,255,0.4); border-bottom:1px dashed rgba(30,30,255,0.4); position:absolute; }
.guides .vertical-guide { height:100%; border-bottom-width:0; }
.guides .horizontal-guide { width:100%; border-right-width:0; }

.sp-container { background:none; border:none; position:absolute !important; display:none; }

.card { width:100%; }

.hbox {display:flex; flex-direction:row; flex: 1; }
.vbox {display:flex; flex-direction:column; flex: 1; }

.container { display:flex; align-items:center; justify-content:center; }

.return-to-grid { position:absolute; top:15px; left:170px; padding:5px 10px; font-size:24pt; color:rgba(255,255,255, 0.5); }
.return-to-grid:hover { box-shadow:0 0 0px #000; background:rgba(255,255,255, 0.2); color:rgba(255,255,255, 0.7); border-radius:3px; }

.data-top, .table-view, .rules {

/* background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0, #3B1061),
	color-stop(1, #302B8C)
); */

  background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(1, #06152B),
	color-stop(0, #17334F)
);

  background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(1, #16253B),
	color-stop(0, #17334F)
);
/* background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0, #082754),
	color-stop(1, #2B5A8A)
); */
}

.inputs-container { display:flex; border-right:0px solid #ddd; }
.inputs { margin:10px; flex: 1; display:flex; border-radius:3px; flex-direction:column; align-items:flex-start; }
.inputs > li { cursor:default; list-style:none; padding:5px 15px; background:rgba(255,255,255, 0.15); margin:5px 10px; border-radius:4px; color:#ddd; }
.inputs .active { padding:15px; }
.inputs .active .grid { margin-left:20px; position:static; z-index:10; }
.inputs .active .table-name { display:inline-block; vertical-align:middle; }
.data-selector { background: #222; width:150px; align-items: flex-start; z-index:1; justify-content:flex-start; padding-left:20px; padding-top:20px; box-shadow:0 0 8px #111; }
.data-selector .active .column-list { margin-left: 25px; }
.data-selector .active .column-list li:before {content: "\f14e"; font-family:"Ionicons"; margin-right:10px; }
.data-selector .active .column-list li + li {}
.data-selector .selected .table-name { color:#ccc; }
.data-selector .selector-toggle { width:20px; padding-left:5px; padding-right:8px; vertical-align:middle; }

.outputs-container { position:relative; flex: 1; padding:0 20px; display:flex; border-left:0px solid #ddd; border-top:0px solid rgba(255,255,255,0.18); }
.outputs-container.dropping { background:rgba(255,255,255,0.1); }
.outputs {  margin:10px; flex: 1; display:flex; border-radius:3px; flex-direction:row; align-items:center; justify-content: center; }
.outputs h2 { margin-bottom:5px; color: #aaa; position:absolute; top: -30px; text-align:center; width:100%; }
.outputs > li { cursor:default; position:relative; display:flex; flex-direction:column; align-items:center; list-style:none; margin:0px 30px; border-radius:10px; color:#666; }

.outputs .sink-selector { position:absolute; top:20px; left:-20px; font-size:11pt; padding:0px 8px; border-radius:3px; background:rgba(255,255,255,0.1); }
.outputs .sink-selector li { color:#ccc; text-align:left; padding:3px 10px; }

.outputs .add-sink { font-size:28pt; }

.workspace-container { flex: 1; display:flex; padding:10px; flex-direction:column; align-items:center; justify-content:center; position:relative; }
.workspace-container.dropping { background:rgba(255,255,255,0.1); }
.workspace-container .description { color:#ccc; font-size:14pt; flex:none; }
.workspace-container > .vbox { align-items:center; }
.workspace { flex:1; display:flex; justify-content: center; align-items:center; }

.rules { display:flex; flex: 1; align-items:flex-start; padding:20px; }
.rules .rule, .tables .rule { background:rgba(255,255,255, 0.15); padding:10px; margin:10px; border-radius:3px; color:#aaa; }
.rules .rule:hover, .tables .rule:hover { background:rgba(255,255,255, 0.25); padding:10px; margin:10px; border-radius:3px; color:#aaa; box-shadow:0 0 20px #111;  }
.rules .rule h2 { text-align:center; color:#ccc; margin-bottom:5px; }
.rules .rule ul { list-style:none; padding-right:20px; display:flex; align-items:flex-end; justify-content:center; flex-direction:column; }
.rules .rule ul + ul { border-left: 1px solid #666; padding-right:0; padding-left:20px; }

.tables {flex: none; padding-bottom:30px;}

.rules .add-rule { padding:8px 30px; padding-bottom:40px; background: rgba(255,255,255, 0.15); margin:10px; border-radius:3px; color:#ccc; }
.rules .add-rule:hover { background:rgba(255,255,255, 0.18); color:#eee; box-shadow:0 0 20px #111;  }





.table-view { display:flex; flex:3; align-items:center; justify-content:center; flex-direction:column; }
.table-view h2 { font-size:16pt; color:#ccc; text-align:center; margin-bottom:15px; }
.table-view-container .rules { flex:1; }
