* { box-sizing: border-box; }
html, body, __root { height: 100%; }
body { background: #f5f5f5; color: #555; font-family: Avenir, "Helvetica neue", sans-serif; display: flex; flex-direction: row; margin:0; width: 100%; }

/******************************************************************************\
 * UI Components                                                              *
\******************************************************************************/

row { display: flex; flex-direction: row; }
column { display: flex; flex-direction: column; }
spacer { display: flex; flex: 1; }

text { display: inline-block; white-space: pre-wrap; }

.button { padding: 5px 10px; background: transparent; border: none; outline: none; -webkit-appearance: button; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; background-clip: padding-box !important; }

.button.inset { border-radius: 4px; background: #EEE; border: 1px solid rgba(0, 0, 0, 0.1); }
.button.inset:not(.disabled):hover { box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(0, 0, 0, 0.25); border-top-color: rgba(0, 0, 0, 0.2); }
.button.inset:not(.disabled):active { box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1), inset 0 2px 1px rgba(0, 0, 0, 0.25); border-top-color: rgba(0, 0, 0, 0.3); }

.button.flat:not(.disabled):hover { background: rgba(0, 0, 0, 0.1); }
.button.flat:not(.disabled):active { background: rgba(0, 0, 0, 0.2); }

.dark .button.flat:not(.disabled):hover { background: rgba(255, 255, 255, 0.1); }
.dark .button.flat:not(.disabled):active { background: rgba(255, 255, 255, 0.2); }
