//row, column { min-width: 100; min-height: 100; border: 1px solid black; }

.editor-view {align-items: stretch;height: 100%;background: white;}

/****************************************************************************\
 * Editor Nav
\****************************************************************************/

.editor-view .editor-nav { margin-right: 20; }
.editor-view .editor-nav .editor-nav-tag { padding: 10; }
.editor-view .editor-nav .editor-nav-block { padding: 5; padding-left: 20; padding-right: 0; }



/****************************************************************************\
 * Editor Main
\****************************************************************************/

.editor-view .editor-main { flex: 1; }

.editor-view .editor-block-description {max-width: 480; padding: 10; margin-right: 20; flex: 1;}
.editor-view .editor-block-title {font-size: 1.25em; margin-bottom: 0.25em; font-weight: 500; }

.editor-view .editor-block-storyboard { flex: 1; align-self: flex-start; }

.editor-view .editor-block-frame { width: 162; height: 100; margin: 10; justify-content: center; align-items: center; border: 2px solid #888; border-radius: 3px; }

.editor-view .editor-block-frame:not([open="true"]):hover { background: #fcfcfc; }
.editor-view .editor-block-frame:not([open="true"]):active { background: #f0f0f0; }


.editor-view .editor-new-frame { border-color: #ccc; color: #ccc; justify-content: space-around; }
.editor-view .editor-new-frame:empty:after { display: flex; content: "+"; font-size: 4em; font-weight: 200;}

.editor-view .editor-new-frame-type { align-self: stretch; color: #606060; }


.editor-view .editor-block-content { flex: 1; }

/****************************************************************************\
 * Editor Block Query
\****************************************************************************/
.editor-view .editor-query-node { margin-bottom: 10; }
.editor-view .editor-query-hex { margin: 10; }
.editor-view .editor-query-hex > text { display: flex; }
.editor-view .editor-query-pattern { margin-top: 20; position: relative; align-self: flex-start; }
.editor-view .editor-query-pattern:before {display: block;content: " ";position: absolute;top: 22;bottom: 0;left: 0;width: 0;border-left: 1px solid #ccc;}

.editor-view .editor-query-pattern .editor-query-tag { margin-left: -1; font-weight: 500; }
.editor-view .editor-query-pattern .editor-query-field {position: relative; padding-left: 10; }
.editor-view .editor-query-pattern .editor-query-field:before { display: block; content: " "; position: absolute; top: 11; left: 0; width: 8; border-top: 1px solid #ccc; }



.editor-view .editor-query-pattern .editor-query-node-new-attribute { position: relative; padding-left: 10; }
.editor-view .editor-query-pattern .editor-query-node-new-attribute:before { content: "+ "; font-weight: 100; color: #ccc; }

.editor-view .editor-query-pattern column:last-child .editor-query-field:last-child:after,
.editor-view .editor-query-pattern column:last-child .editor-query-node-new-attribute:last-child:after {display: block;content: " ";position: absolute;top: 11;bottom: 0;left:-1;width: 0;margin-top: 1px;border-left: 2px solid white;}

.editor-view .editor-query-pattern .editor-query-subnode:last-child .editor-query-node:after {display: block;content: " ";position: absolute;top: 31;bottom: -10;left:56;width: 0;margin-top: 1px;border-left: 1px solid white;}

.editor-query-pattern .editor-query-delete-field { opacity: 0; transition: opacity 0.2s ease-out; }
.editor-query-pattern .editor-query-field:hover .editor-query-delete-field { opacity: 1; }

.editor-query-pattern .editor-query-subnode:nth-child(2) { margin-top: 10; }
.editor-query-pattern .editor-query-subnode { margin-top: -12; z-index: 1; }

.editor-query-pattern .editor-query-subnode .editor-query-node { position: relative; left: -56; }

.editor-query-pattern .editor-query-subnode .editor-query-node .editor-query-pattern { padding-left: 10; }
.editor-query-pattern .editor-query-subnode .editor-query-pattern:after { display: block; content: " "; position: absolute; top: 11; left: 0; width: 8; border-top: 1px solid #ccc; }

.editor-query-pattern .editor-query-subnode .editor-query-field {border-left: 1px solid #ccc; }

/****************************************************************************\
 * Editor Block Canvas
\****************************************************************************/
.editor-view .editor-block-query-canvas { position: relative; flex: 1; }


.editor-view .editor-molecule-infobox { position: absolute; top: 400; padding: 10; margin: 10; z-index: 2; border: 1px solid gray; background: rgba(255, 255, 255, 0.5); }
.editor-view .editor-atom-infobox { padding: 10; }
.editor-view .editor-atom-infobox + .editor-atom-infobox { border-top: 1px solid gray; }

/****************************************************************************\
 * Data Editor
\****************************************************************************/
.editor-block-data-canvas .editor-atom-header { font-weight: 500; text-align: center; }
.editor-block-data-canvas .editor-atom-field-row { min-width: 200; margin-bottom: -1; border: 1px solid #ccc; }
.editor-block-data-canvas .editor-atom-field-attribute { min-width: 80; margin-right: 10; padding-right: 10; border-right: 1px solid #ccc;}

.editor-block-data-canvas .editor-atom-new-field { border: 1px solid #ccc; text-align: center; }


/****************************************************************************\
 * Shapes
\****************************************************************************/

.shape-hexagon { position: relative; }
.shape-hexagon .shape-hexagon-body { justify-content: center; align-items: center; }
.shape-hexagon .shape-hexagon-cap { }

.shape-hexagon .shape-hexagon-inner {  }

.shape-hex-grid { position: relative; }





.hex-grid > .shape-hexagon-body,
.hex-grid > .shape-hexagon-cap { transition: 0.5s background ease-in, 0.5s border-top-color ease-in, 0.5s border-bottom-color ease-in; }

.hex-grid:hover > .shape-hexagon-body,
.hex-grid:hover > .shape-hexagon-cap { transition: 0.2s background ease-out, 0.2s border-top-color ease-out, 0.2s border-bottom-color ease-out; }


.hex-grid:hover > .shape-hexagon-body { background: #ccc !important; }
.hex-grid:hover > .shape-hexagon-cap.first { border-bottom-color: #ccc !important; }
.hex-grid:hover > .shape-hexagon-cap.last { border-top-color: #ccc !important; }

text { flex: 0 0 auto; }
column { flex: 0 0 auto; }
row { flex: 0 0 auto; }
