//row, column { min-width: 100; min-height: 100; border: 1px solid black; }

.editor-view {align-items: stretch;height: 100%;background: white;}

/****************************************************************************\
 * Editor Nav
\****************************************************************************/

.editor-view .editor-nav { margin-right: 20; }
.editor-view .editor-nav .editor-nav-tag { padding: 10; }
.editor-view .editor-nav .editor-nav-block { padding: 5; padding-left: 20; padding-right: 0; }



/****************************************************************************\
 * Editor Main
\****************************************************************************/

.editor-view .editor-main { flex: 1; }

.editor-view .editor-block-description {max-width: 480;padding: 10 0;margin-right: 20;flex: 1;font-size:  0.75em;}
.editor-view .editor-block-title {font-size: 1rem;margin-bottom: 0.25em;font-weight: 500;}

.editor-view .editor-block-storyboard { flex: 1; align-self: flex-start; }

.editor-view .editor-block-frame { width: 162; height: 100; margin: 10; justify-content: center; align-items: center; border: 2px solid #888; border-radius: 3px; }
.editor-view .editor-block-frame.active,
.editor-view .editor-block-frame:not([open="true"]).active:hover{ background: #f0f0f0; }

.editor-view .editor-block-frame:not([open="true"]):hover { background: #fcfcfc; }
.editor-view .editor-block-frame:not([open="true"]):active { background: #f0f0f0; }


.editor-view .editor-new-frame { border-color: #ccc; color: #ccc; justify-content: space-around; }
.editor-view .editor-new-frame:empty:after { display: flex; content: "+"; font-size: 4em; font-weight: 200;}

.editor-view .editor-new-frame-type { align-self: stretch; color: #606060; }


.editor-view .editor-block-content { flex: 1; }

/****************************************************************************\
 * Editor Block Query
\****************************************************************************/

.editor-node-tree { align-self: flex-start; padding-left: 44; }
.editor-node-tree input {font-size: 1em; font-weight: inherit;font-family: inherit; border: none; color: inherit;}
.editor-node-tree-node { position: relative; padding: 5 0; }

.editor-node-tree-node-new > .ui-autocomplete {margin-top: 10; width: 140; }
.editor-node-tree-node-new > .button {margin-top: 7;}
.editor-node-tree-node-new > .button:before {width: 1.3em; line-height: 1.3em;text-align: center; font-size: 0.9em; border: 1px solid #ccc; border-radius: 100px;}

.editor-node-tree-node-pattern { margin-top: 11; margin-left: 15; }
.editor-node-tree-node-pattern .editor-node-tree-node-pattern-name { margin-left: -15; margin-bottom: 8;}
.editor-node-tree-node-pattern-field {position: relative; min-height: 22; z-index: 1; }
.editor-node-tree-node-pattern-field > text:not(:last-child):after {content: ":"}
.editor-node-tree-node-pattern-value {padding:0;padding-left: 5;}

.editor-node-tree-node-pattern div.button {position: relative;width: 40; line-height: 1.3em; margin-top: -4;margin-left: -34;margin-bottom:-4;font-size: 0.9em; color: #999; }
.editor-node-tree-node-pattern div.button:before { width: 1.3em; line-height: 1.3em; text-align: center; border: 1px solid #ddd; border-radius: 100px; background: white; font-weight: 100; }
.editor-node-tree-node-pattern div.button:after {content: " "; display: block; position: absolute; left: 50%; right: 5; top: 50%; margin-top: 0; z-index: -1; border-top: 1px solid #ccc; }

.editor-node-tree-node-controls { position: absolute; top: 38; left: -21; padding: 4px 0;}
.editor-node-tree-node-controls > div.button {position:relative; margin:0; margin-right: -4; ;z-index: 1;font-size:0.9em;}

.editor-node-tree-node-controls:before {content: " ";display: block;position: absolute;top: 4;bottom: 18;right: -4;border-left: 1px solid #ccc;}
.editor-node-tree-node-controls > div.button:before {width: 1.3em;margin-top: -5;text-align: center;line-height: 1.3em;border: 1px solid #ccc;border-radius: 100px;background: white;font-weight: 100;}
.editor-node-tree-node-controls > div.button:after {content: " "; display: block; position: absolute; left: 50%; right: 0; top: 50%; margin-top: -3; z-index: -1; border-top: 1px solid #ccc; }

.editor-node-tree-node-field-new-attribute {width: 140; }

/* Crazy tree positioning magic */

.editor-node-tree-node-hex { position: absolute; left: -44; }
.editor-node-tree-node-pattern .editor-node-tree-node-hex { position: absolute; left: -59; }
.editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-hex { position: absolute; left: -74; }
.editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-hex { position: absolute; left: -89; }
.editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-pattern .editor-node-tree-node-hex { position: absolute; left: -104; }
/* okay, you win. */

.editor-node-tree-node-pattern-field:before {display: block;content: " ";position: absolute;top: 11;left: -13;width: 9;height: 1;border-top: 1px solid #ccc;}

.editor-node-tree-node-pattern-name:before {display: block;content: " ";position: absolute;top: 26;left: -13;width: 9;height: 1;border-top: 1px solid #ccc;}
.editor-node-tree > .editor-node-tree-node > .editor-node-tree-node-pattern > row > .editor-node-tree-node-pattern-name:before {display: none; }

.editor-node-tree-node-pattern:before {display: block;content: " ";position: absolute; left: 1; top: 38; bottom: 6;width: 0;border-left: 1px solid #ccc;}

.editor-node-tree-fields:last-child > .editor-node-tree-node-pattern-field:last-child:after {display: block;content: " ";position: absolute;top: 11;bottom: -10;left:-14;width: 0;margin-top: 1px;border-left: 2px solid white;}

.editor-node-tree-subnodes:last-child .editor-node-tree-node:last-child:after {display: block;content: " ";position: absolute;top: 26;bottom: -10;left: -14;width: 0;margin-top: 1px;border-left: 1px solid white;}

.editor-node-tree-node-pattern row:first-child:last-child > .editor-node-tree-node-pattern-name:after {display: block;content: " ";position: absolute;top: 38;bottom: 5;left:0;width: 0;border-left: 2px solid white;}

.editor-node-tree-subnodes:nth-child(2) { margin-top: 20;}
.editor-node-tree-subnodes:nth-child(3) { margin-top: 5;}

/* Animations */
.editor-node-tree-node-hex > canvas { transition: transform 0.2s ease-out; }
.editor-node-tree-node[open="true"] > .editor-node-tree-node-hex > canvas { transform: rotateZ(60deg); }

/****************************************************************************\
 * Editor Block Canvas
\****************************************************************************/
.editor-view .editor-block-query-canvas { position: relative; flex: 1; }


.editor-view .editor-molecule-infobox { position: absolute; top: 400; padding: 10; margin: 10; z-index: 2; border: 1px solid gray; background: rgba(255, 255, 255, 0.5); }

/****************************************************************************\
 * Data Editor
\****************************************************************************/
.editor-block-data-canvas {position: relative;flex: 1;align-items: flex-start;}
.editor-block-data-canvas .editor-data-toolbar { flex: 0 0 auto; background: #eee; border-radius: 3px; }
.editor-block-data-canvas .editor-data-toolbar > .ui-button { display: flex; flex-direction: column; align-items: center; padding: 10; color: #999; }
.editor-block-data-canvas .editor-data-toolbar > .ui-button:before { font-size: 1.5em; color: #404040;}
.editor-block-data-canvas .editor-data-toolbar > .ui-button.editor-active {  color: #66f; }
.editor-block-data-canvas .editor-data-toolbar > .ui-button.editor-active:before {  color: #44f; }
.editor-block-data-canvas .editor-data-toolbar > .editor-data-toolbar-select:before { transform: rotateZ(-30deg); }

.editor-block-data-canvas .editor-data-molecule-infobox {position: absolute;top: 300;left: 70;padding: 10;z-index: 2;border: 1px solid gray;background: rgba(255, 255, 255, 0.5);}
.editor-block-data-canvas .editor-data-node-infobox { padding: 10; }
.editor-block-data-canvas .editor-data-node-infobox + .editor-node-infobox { border-top: 1px solid gray; }
.editor-block-data-canvas .editor-data-atom-infobox + .editor-atom-infobox { margin-top: 20; }

.editor-block-data-canvas .editor-data-node-header { font-weight: 500; text-align: center; }
.editor-block-data-canvas .editor-data-field-row { min-width: 200; min-height: 20; margin-bottom: -1; border: 1px solid #ccc; }
.editor-block-data-canvas .editor-data-field-attribute {display: flex;flex: 0;width: auto;min-width: 100;padding: 0 10; margin: -1; margin-right: 0; background: transparent; border: 1px solid transparent; border-right-color: #ccc;}
.editor-block-data-canvas .editor-data-field-value-set {flex: 1 1 auto;/* max-width: 140; */}
.editor-block-data-canvas .editor-data-field-value {display: flex;flex: 1;min-width: 80;min-height: 20;padding: 0 10;margin: -1;background: transparent;border: 1px solid transparent;}

.editor-block-data-canvas .editor-data-molecule-infobox input { font-size: 1em; font-weight: inherit;font-family: inherit; color: inherit;}
.editor-block-data-canvas .editor-data-molecule-infobox input::-webkit-input-placeholder { font-weight: 300; }

.editor-block-data-canvas .editor-data-field-new-row { background: #ddffdd; border-color: #44cc44; }

.editor-block-data-canvas .editor-data-field-row.editor-data-erasing { background: #ffdddd; border-color: #cc4444; }
.editor-block-data-canvas .editor-data-field-value.editor-data-erasing { background: #ffdddd; border-color: #cc4444; }



/****************************************************************************\
 * Shapes
\****************************************************************************/

/* .shape-hexagon { position: relative; } */
/* .shape-hexagon .shape-hexagon-body { justify-content: center; align-items: center; } */
/* .shape-hexagon .shape-hexagon-cap { } */

/* .shape-hexagon .shape-hexagon-inner {  } */

/* .shape-hex-grid {position: relative;left: 70;} */





.hex-grid > .shape-hexagon-body,
.hex-grid > .shape-hexagon-cap { transition: 0.5s background ease-in, 0.5s border-top-color ease-in, 0.5s border-bottom-color ease-in; }

.hex-grid:hover > .shape-hexagon-body,
.hex-grid:hover > .shape-hexagon-cap { transition: 0.2s background ease-out, 0.2s border-top-color ease-out, 0.2s border-bottom-color ease-out; }


.hex-grid:hover > .shape-hexagon-body { background: #ccc !important; }
.hex-grid:hover > .shape-hexagon-cap.first { border-bottom-color: #ccc !important; }
.hex-grid:hover > .shape-hexagon-cap.last { border-top-color: #ccc !important; }

text { flex: 0 0 auto; }
column { flex: 0 0 auto; }
row { flex: 0 0 auto; }
