body * { display: flex; flex-direction: column; }

pre { font-family: monospace; }
.ui-input { outline: none; }

// Debug
.bordered { border: 1px solid gray; }
.sample div { display: block; }
.sample span { display: inline-block; }
.sample spaced { padding: 0 3px; }