$pad-s = 5px
$pad-m = 10px
$pad-l = 15px

//-----------------------------------------------------------------------------
// Container styling
//-----------------------------------------------------------------------------
.ui-spaced-row > * + * { margin-left: $pad-s; }
.ui-spaced-column > * + * { margin-bottom: $pad-s; }
.ui-row { display: flex; flex-direction: row; }
.ui-column { display: flex; flex-direction: column; }
.ui-row > *, .ui-column > * { display: flex; }
.ui-spacer { flex: 1; }
.ui-centered {
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

table tbody, table thead { display: table-row-group; }
table tr { display: table-row; }
table td, table th {
  display: table-cell;
  padding: 0 ($pad-s / 2);
}

//-----------------------------------------------------------------------------
// Input styling
//-----------------------------------------------------------------------------
.ui-input[contenteditable="true"] { white-space: pre; min-height: 1em; flex: 1; overflow: auto; }
.ui-input[contenteditable="true"]:empty:before { content: attr(placeholder); display: block; /* For Firefox */ }

.CodeMirror * { display:block; }
.CodeMirror span { display: inline; }
.CodeMirror.cm-s-default { font-family: "Lato"; font-size: 12pt; height: auto; background: transparent; }
.CodeMirror .Codemirror-scroll { height:auto; }
.cm-s-default .CodeMirror-cursor { }
