/*---------------------------------------------------------
- Root
---------------------------------------------------------*/

body { background: #222; font-family:"Lato"; overflow:hidden; height: 100vh; display:flex; }

/* we want everything to be flex and to use a sane box-sizing model */
body div { display: flex; display: -webkit-flex; flex-direction:column; -webkit-direction-flex: column; box-sizing: border-box; outline:none; }

.__root { flex: 1; }
.root { align-items:center; justify-content:center; background: #222; color: #ccc; flex: 1; overflow:auto; }

#perfStats { position:absolute; top: 10px; right:10px; color: #666; transition:color 0.2s ease-in-out; }
#perfStats:hover { color: #ccc; }

/*---------------------------------------------------------
- Article Editor
---------------------------------------------------------*/
.article { background: #333; padding:20px; overflow:auto; max-width: 600px; min-height: 300px; min-width: 300px; border-radius:3px; box-shadow: 0 0px 0px #111; line-height: 25px; }
.article pre { flex:none; display:block; white-space: pre-wrap; min-height:25px; }
.article h1 { font-size:16pt; }
.article span { display:inline; }
.link { color: #f88; cursor:default; border-bottom:1px solid transparent;  }
.link.found, .entity { color: #99f; }
.collection, .deck { color: #9f9; }
.eav, .attribute { color: #f9f; }
.operation, .value { color: #fa5; }
.modifier { color: #9cf; }
.link:hover { border-bottom-color:#f88; }
.link.found:hover { border-bottom-color:#99f; }

.bit { text-align:center; justify-content:center; padding:10px; background: #333; width: 100px; height:40px; align-self:flex-start; box-shadow:0 0px 0px #111; margin-bottom:5px; border-radius:0px; align-items:center; }
.bit.collection { background: #0a6; color: #222; }
.bit.collection .collection { color: #fff; }

.bit.entity { background: #55a; color: #fff; }
.bit.value { background: #c63; color: #fff; }
.bit.attribute { background: #a4a; color: #fff; }

.bit.small { height:30px; width:30px; text-transform:uppercase; }


.search-input { flex: none; background: #333; min-width:350px; text-align:center; color: #ccc; font-family: "Lato"; font-size: 14pt; margin:50px 0; margin-bottom:10px; padding:5px 30px; outline:none; }
.search-input .CodeMirror.cm-s-default { font-size: 16pt; }

.phrase { display: block; font-size: 12pt; height: 20px;}
.phrase span { display:inline; opacity:0; }

.phrase.pos2 { top:430px; }

.spacer { flex: 1; }

.search-description { display: block; }
.search-description * { display:inline; }

.search-plan { padding: 30px 0; align-items: flex-start; }
.search-plan * { padding: 5px; background: #333; margin:5px 0px; border-radius:2px; }


.search-headers { flex-direction:row; padding: 0 10px; margin-bottom:10px; }
.search-headers > * { width:100px; align-items:center; color: #aaa; font-size:11pt; margin:1px; background: #333; padding:10px 0; }

.search-results .bit { margin:1px 1px; }
.search-results .path > .bit { height:auto; align-self:stretch; }
.search-results { flex:none; padding:0 10px; overflow:auto; margin-bottom:40px; }
.search-results .path { flex-direction:row; margin-bottom: 10px; }
.search-results pre { display:none; }
.search-results pre.header { display:block; }
.search-results .article { margin:10px; min-width:100px; min-height:100px; width:auto; height:auto; margin:20px 10px; }
.search-results .singleton pre { display: block; }
.search-results .singleton .article { width: 600px; height: auto; }
.search-results .arrow { justify-content:center; font-size: 18pt; }

.history-stack { flex:none; flex-direction:row; padding: 20px 10px;}
.history-stack .link { cursor: default; text-transform:uppercase; overflow:hidden; justify-content:center; align-items:center; color:black; background: #6c6; margin:4px; width:30px; height:30px; border-radius:2px; }
.history-stack .link:hover { background: #333; border-radius:3px; box-shadow: 0 2px 2px #111; }



.CodeMirror div { display:block; }
.CodeMirror.cm-s-default { font-family: "Lato"; font-size: 12pt; height: auto; background: transparent; color: #ccc; }
.CodeMirror .CodeMirror-selected { background: #444; border-radius:2px; }
.CodeMirror .Codemirror-scroll { height:auto; }
.cm-s-default .CodeMirror-cursor { border-color: #999; }
.cm-s-default .cm-link { color: #99f; }
.cm-s-default .cm-url { color: #77f; }
.cm-s-default .cm-header.cm-header-1 { color: #ccc; font-size:16pt; }

.history-stack { margin-left: 10px; }