body { position: relative; padding-bottom: 1.5em; background: #fff; color: rgb(76, 85, 90); font-family: "Lato", sans-serif; font-weight: 300; }
* { box-sizing: border-box; }
div { display: flex; flex-direction: column; }
button, input { border:none; outline: none; font-family: "Lato", sans-serif; font-weight: 300; color: rgb(76,85,90); }


.test { border: 2px solid red; }

.light .bit { background: transparent; }

.flex-grow { flex: 1; }
.flex-row { display: flex !important; flex-direction: row; }
.flex-column { display: flex !important; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.fullscreen { width: 100vw; min-height: 100vh; }

.spaced-row > * + * { margin-left: 0.4em; }
.csv { flex-direction: row; }
.csv > * + span { margin-left: 0.4em; }
.csv > span + span:before { position: relative; left: -0.4em; content: ","; }
/*---------------------------------------------------------
- Root
---------------------------------------------------------*/
body { height: 100vh; }
.logo { width: 48px; height: 48px; background-size: contain; background-position: top center; background-repeat: no-repeat; }
.eve-logo { width: 28px; height: 32.5px; background-size: cover; background-image: url("http://www.witheve.com/logo.png"); }

#perfStats { position: absolute; background: rgba(255, 255, 255, 0.5); padding:10px; bottom: 0px; right: 15px; color: #888; z-index: 20; }

/*---------------------------------------------------------
- Controls
---------------------------------------------------------*/
.controls { flex-direction: row; }
.controls > div { padding: 0.25em; border-radius: 2px; }

div > header > .controls { opacity: 0; }
div:hover > header > .controls { opacity: 1; }
.controls > div:hover { background: rgba(255, 255, 255, 0.25); }

/*---------------------------------------------------------
- Pane
---------------------------------------------------------*/
.wiki-pane.fullscreen {}
.wiki-pane > header { padding: 10px 0.5em; align-items: center; border-bottom: 1px solid #ccc; }
.wiki-pane > header > * { margin: 0 0.5em;}
.wiki-pane > content { display: flex; justify-content: center; align-items: center; } /* @TODO: Breakpoints overflow-y: auto*/

.wiki-pane { background: #fff; }

.wiki-entity { flex: 1; flex-direction: column; align-items: flex-start; overflow: auto; }
.disambiguation { align-self: stretch; flex-direction: row; padding: 0.25em 0.5em; margin-bottom: 1rem; color: #999; }

/*---------------------------------------------------------
- Popout pane
---------------------------------------------------------*/

.pane-shade { position: absolute; top:0; left:0; right:0; bottom: 0; z-index:10; background:none; }

.wiki-pane.window > header > * { margin:0;}
.wiki-pane.window { position:absolute; max-height:40%; box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 7px 15px rgba(0,0,0,0.1); background: #fff; border-radius:3px; }
.wiki-pane.window > header { background: #fff; padding: 10px 5px; padding: 0; border:none; }
.wiki-pane.window > header button { border:none; border-radius:0px; background:none; font-size: 20px; font-weight:300; color:#555; padding:8px 10px; color: #008cdd; position:absolute; top:0; right:0; z-index:10;  }
.wiki-pane.window > header button:hover { background: rgba(0, 140, 221, 0.15); }
.wiki-pane.window > header .controls { opacity:1; color: #777; }
.wiki-pane.window .wiki-entity { padding: 15px 20px;  }
.wiki-pane.window .wiki-entity .CodeMirror { flex: 1; overflow:hidden; }
.wiki-pane.window .wiki-editor { padding: 0;  }

/*---------------------------------------------------------
- Form
---------------------------------------------------------*/

.form-row + .form-row { margin-left:10px;  }
.form-row label { display:none; margin-bottom:3px; font-size: 10pt; }


.labeled-input { flex-direction:row; }
.labeled-input { border-radius:0px; align-items: center; background: none; }
.labeled-input label { font-size: 10pt; padding:8px 6px; }
.labeled-input input { font-size: 10pt; border-radius:0; padding: 8px 10px; min-width:280px; }
* + .labeled-input input { border-left: 1px solid #ddd;  }
.labeled-input input + * { border-left:1px solid #ddd; }

/*---------------------------------------------------------
- Selector
---------------------------------------------------------*/

.selector { flex-direction:row; background:#fff; border:1px solid #ccc; border-radius:3px; }
.selector *:nth-child(2) { background: orange; color: #333; text-shadow:none; }
.selector * { justify-content:center; background:none; border:none; color: #666; font-size: 11pt; font-family: "Lato"; font-weight: 300; padding:3px 8px; }
.selector * + * { margin-left: 5px; }
.selector button { background: ; }

/*---------------------------------------------------------
- Wiki editor
---------------------------------------------------------*/

.wiki-editor { flex: 1; width: 680px; padding-top: 50px; }
.wiki-editor .CodeMirror { font-family: "Lato"; font-size: 18px; color: rgb(76, 85, 90); font-weight:300; }
.wiki-editor .CodeMirror-lines { padding: 0; }

.wiki-editor .CodeMirror-widget > div { display:inline-block; }
.wiki-editor .CodeMirror-widget content { align-items:flex-start; padding:0; }

.wiki-editor .cm-header { color: rgb(76, 85, 90); font-weight:normal; }
.wiki-editor .cm-header-1 { font-size: 24pt; line-height: 40px; }
.wiki-editor .attribute, .wiki-editor .value { color:#2C00FD; }
.wiki-editor .link { color: #008cdd; cursor: pointer; border-bottom: 1px solid transparent; }
.wiki-editor .link:hover { border-bottom:1px solid #008cdd; }
.wiki-editor .embed-code { background: #C7E7FF; }
.wiki-editor .cm-variable-2 { padding-left:15px; }

.wiki-editor .table .field { width: 160px; }

.wiki-editor .formatBar { display:flex; padding:0 5px; background: #555; color: #ccc; z-index: 20; flex-direction:row; border-radius:3px; }
.wiki-editor .formatBar .button { padding: 5px; cursor:default; align-items: center; width:35px; -webkit-user-select: none; }
.wiki-editor .formatBar .button:hover { background: #666; }
.wiki-editor .formatBar .sep { width:1px; padding:0; background: #333; }

.embedded-cell { border:1px solid #ddd; padding:3px; border-radius:2px; outline:none; }

/*---------------------------------------------------------
- Content
---------------------------------------------------------*/
content h1 { font-size: 1.5em; margin: 1rem; margin-bottom: 0.5rem; text-transform: capitalize; }
content h2 { font-weight: bold; }
content h3 { font-style: italic; }
content p { margin: 0.5rem 1rem; }
content ul, content ol { display: flex; flex-direction: column; margin-left: 1.5rem; justify-content: flex-start; align-items: flex-start; }
content ul { list-style-type: disc; }
content ol { list-style-type: decimal; }
content li { flex: 0 0 auto; }

content h1 { border-bottom: 1px solid #ccc; }

/*---------------------------------------------------------
- Search Pane
---------------------------------------------------------*/
.wiki-search { display: flex; flex-direction: column; align-items: center; }
.table { display: flex; }
.table div, .table header { display: flex !important; }
.table .group, .table > header { flex-direction: row; }
.table .column { justify-content: center; }
.table .field { display: block; max-width: 254px; min-width: 80px; padding: 0.5em 0.5em; width: 160qpx; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.table { border: 1px solid #ddd; border-radius: 2px; }
.table > header { border-bottom: 1px solid #ddd; background: #f5f5f5; }
.table .group + .group, .table .sub-group + .sub-group { border-top: 1px solid #ddd; }
.table .column + .column { border-left: 1px solid #ddd; }
.table .column .field + .field { border-top: 1px solid #ddd; }

/*---------------------------------------------------------
- Search Input
---------------------------------------------------------*/
.wiki-search-wrapper { flex-direction: row; position: relative; margin-bottom: 1px !important; overflow: hidden; font-size: 16pt; font-family: "Lato"; font-weight:300; }
.wiki-search-wrapper .CodeMirror.cm-s-default { font-size: 16pt; }
.wiki-search-wrapper .wiki-search-input { padding: 0 0.25em; padding-right: 2.75em; border-radius: 2px; }
.wiki-search-wrapper .controls { position: absolute; right: 0.25em; top: 0; bottom: 0; align-items: center; }

.wiki-search-wrapper .wiki-search-input { }
.wiki-search-wrapper .controls div { opacity: 0; transition: 0.2s all; }
.wiki-search-wrapper:hover .controls div, .wiki-search-wrapper .controls .visible { opacity: 1; }

/*---------------------------------------------------------
- CodeMirror general
---------------------------------------------------------*/
.CodeMirror div { display: block; }
.CodeMirror { font-family: "Lato", sans-serif; overflow:visible; height: auto; font-weight:300; line-height: 1.4em; color: rgb(76, 85, 90); }
.CodeMirror-scroll { height: auto; overflow: visible !important; }
