body { color: #ccc; }

.test-root { overflow:auto; flex:1; }

.search { padding: 20px 30px; background: #333; margin:15 30; flex-shrink:0; border-left:20px solid #444; }
.search.v0 { border-left-color: #FF3666; }
.search.v1 { border-left-color: #9fa; }
.search-header { font-size:16pt; color: #fff; }
.header { font-size: 14pt; margin-top:20px; margin-bottom: 10px; }
.hidden { display: none; }
.header2 { font-size: 12pt; }
.kids { margin-left: 30px; }

.pattern { color: #fa5;}
.separator { color: #99f; }

.stats { font-size: 32pt; padding: 0 30px; margin-top:40px; flex:none; justify-content: center;  }
.stats > * { padding: 20px; border-radius:0px; color: #222; }
.stats > * + * { margin-left: 1px;  }
.stats .failed { background: #FF3666; }
.stats .succeeded { background: #9fa; }
.stats .unvalidated { background: #777; }

.perf { font-size: 12pt; padding: 0 30px; margin-top:20px; flex:none; justify-content: center; text-align: center;  }

.step { padding-left: 5px; }
.step + .step { margin-top:5px; }
.step.v0 { border-left:5px solid #FF3666; } 
.step.v2 { border-left:5px solid #777; }
.step.v1 { border-left:5px solid #9fa; }