body {
	background-color: #E9EBE9;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 16px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#content {
 	max-width: 600px;
 	min-width: 300px;
    margin: 50px 0;
    line-height: 23px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

#logo {
	width: 40px;
	height: 46px;
	float: left;
	padding-right: 15px;
	margin-top: -13px;
}

.screenshot {
    max-width: 600px;
	box-shadow: 0px 2px 2px #aaa;
	margin: 30px 0;
	display: block;
    border-radius:3px;
}

iframe {
    border-radius:3px;
	box-shadow: 0px 2px 2px #aaa;
	margin: 30px 0;
	display: block;
	max-width: 600px;
}

.command {
	background-color: rgb(64,160,221);
	color: #FFF;
	padding: 4px 4px 4px 7px;
	border-radius: 4px;
	font-size: 12px;
	border: 1px solid rgb(0,121,177);
	top: -2px;
	position: relative;
	margin-right: 2px;
	letter-spacing: 1px;
}

h1, h2, h3, h4 {
    width: 100%;
}

h1 {
	color: rgb(74,64,136);
	margin-bottom: 40px;
}


h2 {
	color: rgb(64,160,221);
}

a {
	text-decoration: none;
	color: rgb(0,121,177);
}

a:hover {
	text-decoration: none;
	color: rgb(74,64,136);
}