body { font-family:"Avenir"; }
* { display: flex; flex-direction:column; box-sizing: border-box; outline:none; }

.spaced-row > * + * { margin-left: 5px; }
.flex-row { flex-direction: row; }
.flex-spacer { flex: 1; }

.query { height: 100%; width: 100%; position:relative; flex-direction:row; }

.query-selector-wrapper { flex-direction: row; height:100vh; }
.query-selector { flex: 1; flex-direction:row; flex-wrap:wrap; position:relative; align-items:flex-start; justify-content:flex-start; margin-left:10px; }
.query-item { margin: 10px; }
.query-item .query { width:300px; height:300px; border-radius:5px; box-shadow:0 0 8px #000; background: #404040; padding:25px; padding-top:50px; }
.query-item .surface { overflow:visible; transform-origin: 0 0; }
.query-item .query-name { position:absolute; padding:10px; color: #aaa; z-index:10; }
.query-item .query-name-input { display:none; }

.query-selector .selected { border: 2px solid #0ba; border-radius:8px; }

.form-container { width: 300px;  margin:15px; position:relative; }
.form-container .form-sub-container { flex: none; position:relative; }
.form-container .form { flex: 1; position:relative;  padding:15px; box-shadow: 0 0 8px #000; border-radius:3px; background: #404040; margin-bottom:10px; }
.form-container .form-repeat { transform-origin: center center; width: 300px; height:100%; position:absolute; left: 4px; top:4px; background:#404040; z-index: -1; box-shadow: 0 0 8px #000; border-radius:2px; }
.form-container .field-item { margin-bottom:12px;  border:0px solid rgba(255,255,255,0.1); border-radius:3px; flex:none; }
.form-container .form-name { font-size: 14pt; margin-bottom:3px; flex:none; }
.form-container .form-description { margin-bottom:20px; flex:none; line-height:1.25; min-width:50px; max-width:300px; outline:none; font-size: 10pt; color: #aaa; }
.form-container .form-fields { flex: 1; overflow:auto; margin-bottom:20px; }
.form-container .label { margin-bottom: 3px; font-size:10pt; color: #aaa; font-weight: normal; }
.form-container .entry-field { background: rgba(0,0,0, 0.15); border:0px solid rgba(255,255,255,0.1); min-height:25px; padding:5px; border-radius:3px; }
.form-container .size { align-items: flex-end; font-size: 10pt; flex:none; color: #999; }

.menu-shade { z-index: 100; position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(255,255,255,0.9); overflow:auto; }
.menu { position:absolute; }

.settings-modal { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px;}
.settings-modal .pane { max-height: 90vh; min-height: 10vh; padding-top: 10px; }
.settings-modal .h3 { text-align: left; align-self: stretch; }
.settings-modal .saves > * { padding: 10px; align-self: stretch; min-width: 208px; }
.tabbed-box .tabs { flex-direction: row; margin-bottom: -1px; }
.tabbed-box .tabs > div { padding: 10px 15px; font-size: 16px; }
.tabbed-box .tabs > div.active { padding: 10px 15px; border-bottom: 1px solid #333; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.tabbed-box .pane { flex-grow: 1; justify-content: center; align-items: center; padding: 5px; overflow-y: auto; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.query-name-input { flex:none; min-width:50px; padding:10px; z-index: 10; }
.query-description-input { flex:none; line-height:1.25; min-width:50px; padding-left: 10px; z-index: 10; max-width:300px; outline:none; font-size: 10pt; color: #aaa; }

.query-tools { flex:1; padding:0px 5px; z-index:10; border-right:1px solid #333; width:100px; }
.query-tools .tool { align-items: center; justify-content:center;  padding: 10px 15px; border: 0px solid rgba(255,255,255, 0.1); }
.query-tools .tool + .tool, .query-tools .flex-spacer + .tool { border-top:1px solid #333; }
.query-tools .tool:hover { background: rgba(255, 255, 255, 0.08); }
.query-tools .tool.disabled { color: #666; background: transparent; }

.searcher-container { position:absolute; top:0; bottom:0; left:0; right: 0; z-index: 10; }
.searcher-shade { position:absolute; top:0; bottom:0; left:0; right:0; }
.searcher { position:absolute; z-index: 10; bottom:0; left:0; background:#444; box-shadow:0 0 8px #000; }
.searcher .search-box { outline: none; height:150px; padding:10px; }
.searcher .search-results { flex-direction: row; }
.searcher .search-results .search-result-group { max-height:290px; width: 300px; margin-top:10px; }
.searcher .search-results .search-result-group + .search-result-group .search-result-items { border-left: 1px solid rgba(255,255,255,0.1); }
.searcher .search-results .search-result-group + .search-result-group .group-type { border-left: 1px solid rgba(255,255,255,0.1); }
.searcher .search-results .search-result-items { flex: 1; overflow:auto; padding:15px; }
.searcher .search-results .group-type { flex: none; background:rgba(255,255,255,0.1); padding: 10px 10px; flex-direction: row; align-items:center; }
.searcher .search-results .group-type .group-name { flex:1; }
.searcher .search-results .group-type .result-size { flex: none; color: rgba(255,255,255,0.5); font-size:10pt; }
.searcher .search-results .search-result-item { margin-top:20px; flex:none;  }
.searcher .search-results .search-result-item .result-text {  }
.searcher .search-results .search-result-item .result-description { margin-top:2px; font-size: 10pt; color: #aaa; line-height:15px; }

.sorter .fields { flex-direction: row; margin-top:10px;  }
.sorter .field { padding:5px; background: rgba(255,255,255,0.1); border-radius:3px; min-width: 40px; text-align: center; align-items: center; flex-direction: row; padding-left:10px; cursor: default; }
.sorter .field.grouped { padding-right:10px; background: rgb(60,60,60); }
.sorter .field + .field { margin-left: 5px; }
.sorter .field-name { flex:1; }
.sorter .sort-direction { font-size: 16px; line-height: 16px; margin-left: 5px; padding:0 5px; }

.creator .types { flex-direction: row; margin-top: 8px; }
.creator .type { padding: 10px; border-radius:3px; background: rgba(255,255,255,0.2); margin-right: 10px; cursor:default; }
.creator .type:hover { background: rgba(255,255,255,0.4); color: #fff; }

.container { flex: 1; position:relative; }

.tooltip-container { position:absolute; top:0; bottom:0; left:0; right: 0; z-index: 11; }
.tooltip-shade { position:absolute; top:0; bottom:0; left:0; right:0; }
.tooltip { position:absolute; background: #555; padding:10px; border-radius:3px; z-index:1000000; font-size:10pt; box-shadow: 0 0 8px #000; }
.tooltip .header { font-size: 11pt; margin-bottom:5px; color: #eee; }
.tooltip .button-info { max-width:300px; line-height:18px; }
.tooltip .disabled-message { color: #F98B8A; margin-top: 5px; }
.tooltip .description { color: #ccc; line-height:18px; max-width:300px; }

.surface { flex: 1; position:relative; overflow:hidden; }
.query-results { flex: 0.5; padding: 10px; padding-left:20px; margin-right:10px; }
.query-results .result-size { padding-left: 0px; margin-bottom:2px; font-size:10pt; }
.query-results-container { flex: 1; }

.table-editor .surface { flex:none; }
.table-editor .query-result { flex:1; }

.peek-results { position:absolute; flex: 1; top: 20px; right: 20px; height: 150px; font-size: 10pt; color: #0ba; }
.peek-results .result-size { padding-left: 2px; margin-bottom:2px;}
.peek-results .table-container { border-color: #0ba; }
.peek-results .table-container .table .headers { background: #00443f; border-color: #00443f; }
.dark .peek-results .table-container .table .header { width: 100px; background: #00443f; color: #0ba; }
.peek-results .table-container .table .field { width: 100px; color: #0ba; }

.canvas { position:absolute; left: 0; right:0; top:0; bottom:0; }

.selection { position:absolute; left: 0; right:0; top:0; bottom:0; pointer-events:none; }
.selection-rectangle { stroke: #0ba; fill: #00443f; rx: 5px; ry:5px; }

.links { position:absolute; left: 0; right:0; top:0; bottom:0; pointer-events: none; }
.nodes { position:absolute; left: 0; right:0; top:0; bottom:0; }

.canvas .item-wrapper { position:absolute; flex-direction:row; }
.canvas .item-wrapper .item { position: static; z-index:2; }
.canvas .attribute-filter { flex-direction:row; align-items: center; justify-content: center; min-width: 40px; min-height: 20px; background:rgba(230,230,255,1); border: 1px solid rgba(194, 186, 242, 1); padding: 3px 10px; color:#555; border-radius:10px; margin-left:-15px; padding-left:15px; z-index:1; }
.canvas .attribute-filter .value { margin-left: 5px;  }
.canvas .filter-editor { min-width:20px; outline:none; }
.canvas .item, .view-selector .item { flex:none; position: absolute; align-items: center; justify-content: center; min-width: 40px; min-height: 20px; padding: 3px 10px; border-radius:2px; rx: 5px; ry:5px; }
.canvas .item.uiSelected { border-color: black; }
.canvas .item.overlapped { background: #999; color: #222; }
.canvas .relationship, .view-selector .relationship { background: rgba(205,205,205,1); color: #555; padding:3px; font-size:9pt; border-radius:50px; }
.canvas .primitive { background: rgba(105,105,205,1); color: white; padding:3px; font-size:9pt; border-radius:50px; }
.canvas .attribute { background:white; border: 1px dashed rgba(205,205,205,1); padding: 3px 10px; color:#555; border-radius:10px; }
.canvas .attribute-relationship { background: rgba(205,205,205,1); color: #555; padding:3px; font-size:9pt; border-radius:50px; }
.canvas .entity { background: rgba(187,85,85,1); color: white; border-color: rgba(187,85,85,1); }


.view-selector { flex-direction:row; flex-wrap:wrap; }
.view-selector .item { position:static; margin:10px;}

.links text {text-anchor: middle; font-size:10pt; fill: #999; }

.button { z-index: 10; padding:5px 10px; background: rgba(0,0,0,0.03); }

.dead-server-banner { position:absolute; top:0; left: 0; right:0; padding: 20px; background: red; color: black; z-index:10000; }

.query-selector-filter { padding:0px 24px; margin-top:10px; height:20px; flex:none; font-size:10pt; color: #999; flex-direction: row; align-items:center;  }
.query-selector-filter .searching-for { flex-direction: row; align-items: center; }
.query-selector-filter .searching-for .search-text { padding:3px 5px; background: #444; margin:0 3px; border-radius:2px; }

/*---------------------------------------------------------
- Table
---------------------------------------------------------*/
.table-container { display: flex; flex-grow: 1; position: relative; overflow-x: auto; border-radius:3px; border:1px solid rgba(0,0,0,0.1); }
.table-container .table { position: absolute; top: 0; left: 0; min-width:100%; }
.table-container .table .headers { flex-direction:row; background: rgba(0,0,0,0.05); border-bottom:1px solid rgba(0,0,0,0.1); flex-shrink:0; }
.table-container .table .rows { overflow-y: auto; overflow-x:hidden; }
.table-container .table .rows > div { flex-direction:row; }
.table-container .table .row { flex: none; }
.table-container .table .row.active { background: #00443f; color: #0ba; }
.table-container .table .header { flex-direction:row; width: 200px; padding: 5px; flex:none; background: rgba(243,243,243,1); border-bottom:1px solid rgba(0,0,0,0.1); margin-bottom:-1px; }
.table-container .table .header .input { flex: 1; }
.table-container .table .header .icon { color: #ccc; display:none; padding: 0 5px; }
.table-container .table .header:hover .icon { display:flex; }
.table-container .table .header .icon.active { display:flex; color: #999; }
.table-container .table .field { width: 200px; padding: 5px; flex:none; white-space: nowrap; overflow:hidden; }

.empty-value { font-size: 10pt; color: #888; }

/*---------------------------------------------------------
- errors
---------------------------------------------------------*/

.query-errors { position: absolute; top:10px; right:0; bottom:10px; align-items: flex-end; }
.error { flex:none; margin-bottom:2px; padding:20px; width: 250px; height:120px; background: rgb(229, 197, 69); color: #222; border-radius:1px; overflow:hidden; }
.error.fade { width: 20px; height: 5px; padding:0; color: transparent; transition: width 0.8s ease-in, height 0.8s ease-in, padding 0.8s ease-in, color 0.7s ease-in-out; }

.query-errors:hover { overflow: auto; }
.query-errors:hover .error.fade { transition: width 0.4s ease-in, height 0.4s ease-in, padding 0.4s ease-in, color 0.4s 0.2s ease-in-out; width:250px; height:120px; padding: 20px; color: #222; }

/*---------------------------------------------------------
- dark
---------------------------------------------------------*/

.dark { background: #222; color: #ccc; }
.dark .query-workspace { flex: 1; position:relative; overflow:auto; margin:0px 20px; border-radius:3px; align-items: flex-start; }
.dark .canvas .attribute { background: #404040; color: #ccc; border-color: #888; }
.dark .canvas .relationship { background: #707070; color: #222; fill: #707070; }
.dark .canvas .entity { background:rgba(165, 85, 187, 1); color: rgba(255,255,255,0.8); border-color: #ccc; }
.dark .canvas .attribute-filter { background:rgba(48, 119, 105, 1); border: 1px solid rgba(121, 167, 171, 1); color:rgba(255,255,255,0.8); }
.dark .canvas .item.uiSelected { border-color: #0ba; border-width: 1px; }
.dark .canvas .projected { border-style: solid; }
.dark .canvas .chunked:before { content: " "; position: absolute; z-index: -1; top: -2px; left: -2px; right: -2px; bottom: -2px; border:1px solid #888;  border-radius: 20px; }
.dark .canvas .column:before { content: " "; position: absolute; z-index: -1; top: -2px; left: -2px; right: -2px; bottom: -2px; border:1px dashed #888;  border-radius: 12px; }
.dark .canvas .column.projected:before { border-style:solid; }
.dark .canvas .column.uiSelected:before { border-color:#0ba; }
.dark .canvas .negated { background:#F98B8A; color: #222; }
.dark .canvas .item.overlapped { background: #bbb; color: #222; }
.dark .table-container .table .headers { background: rgba(255,255,255,0.1); }
.dark .table-container .table .header { background: none; }