body { height:100vh; font-family: "Helvetica Neue"; font-weight: 300;  width:100%; }
body div { display:-webkit-flex; -webkit-flex-direction:column; }

.flex { flex: 1; }
.no-overflow {overflow:hidden; }
.scroll { overflow: auto; }
.double-size { padding-bottom: 100%; }
.center { align-items:center; justify-content:center; }

#perfStats { position:absolute; top:10px; right:10px; color: #ccc; }

.dark { background: #000;}
.workspace { max-width: 650px; flex-direction:column; width:100%; -webkit-flex-direction:column; }
.workspace .left-side-container { -webkit-flex:none; }
.workspace .left-side-container .left-toolbar { flex-direction:row; -webkit-flex-direction:row; }
.workspace .left-side-container .left-toolbar > * { -webkit-flex:none; flex:none; }
.workspace .canvas { -webkit-flex:1; margin-left:0px; flex: 1; position:static; font-size:10pt; align-items:stretch; }

.canvas .flex-row { flex: 1; }
.canvas .item  { font-size:10pt; position:relative; padding:0; margin: 0px 10px; border-left:0px solid #333; border-radius:3px; border-top:1px solid transparent; border-bottom:1px solid transparent; margin-bottom:0px; }
/* .canvas .item.active, .canvas .item:hover { background: none; border-top:0px solid #333; border-bottom:0px solid #333; } */

.canvas .item.active, .canvas .item:hover { border-left-color: rgb(0,184,241); }

.canvas .item { flex-direction:row; align-items:stretch; justify-content:stretch; }
.item .remove { display:none; position:absolute; right:2px; top:2px; background:none; border:none; color: #777; }
.item:hover .remove { display: flex; }

.madlib-container { -webkit-flex:none; flex:none; flex-direction:row; align-items: center; }
.madlib-container + .madlib-container { margin-top:3px; }
.madlib-table {  -webkit-flex:none; }
.madlib-table + .madlib-table { margin-top:3px; }
.madlib { -webkit-flex:none; -webkit-flex-direction:row; -webkit-flex-wrap: wrap; }
.madlib > * { margin:0 0px;  }
.madlib .madlib-blank { position:relative; flex:none; vertical-align:top; position:relative; padding-right:5px; }
.madlib .selected .value { border: 1px solid red; }
.madlib .madlib-text { white-space:nowrap; color: #aaa; width:100%; padding: 2px 0; border:1px solid transparent; background: none; }
/* .madlib > * + * { margin-left: 2px; } */
.madlib .label { display:none; text-align:center; color:  rgb(0,184,241); padding: 2px 3px 0 3px; }
.madlib .value { min-height:19px; min-width:20px; box-shadow:0 2px 2px #1a1a1a; width:100%; color: #ccc; border:1px solid transparent; display:inline-block; background: rgb(0,77,113); background:#444; padding:2px 3px; text-align:left; white-space: nowrap; max-width: 150px; overflow:hidden; text-overflow:ellipsis; border-bottom:1px solid transparent; border-top-left-radius: 2px; border-top-right-radius:2px; border-radius:3px; text-align:center; }
/* .madlib .filtered .value:after { vertical-align:middle; content: "\f200"; font-family: "Ionicons"; font-size:10px; margin-left:6px; height:11px; display:inline-block; } */
.canvas .madlib .column .value { position:relative; z-index:5; box-shadow:0 0px 2px #000; }
.canvas .madlib .column:before { content: " "; border:none; border-radius:3px; z-index:1; position:absolute; top:0px; left:3px; transform:rotate(4deg); -webkit-transform:rotate(4deg); background:#444; bottom:0px; right:2px; box-shadow: 0 0 2px #000; }
.canvas .madlib .column:after { content: " "; border:none; border-radius:3px; z-index:0; position:absolute; top:-2px; left:-2px; transform:rotate(-8deg); -webkit-transform:rotate(-8deg);  background:#444; bottom:2px; right:5px; }

.action-prefix { margin:0 5px;  }

.message-container { flex:1; margin:0px 0; }
.message-container > .message { justify-content:center; flex:1; padding: 15px 20px; border-radius:3px 0 0 3px; background:rgba(255,255,255,0.14); }
.user-message {   }
/* .eve-response { align-self: flex-end; -webkit-align-self: flex-end; } */
.eve-response { flex:1.5; margin-bottom:0px; background: rgba(0,184,241, 0.18); border-left:1px solid rgba(0,184,241, 0.3); border-radius:0 3px 3px 0; }
.eve-response > .controls { position:absolute; right:0; bottom:0; flex-direction: row; justify-content: flex-end; }
.eve-response > .message { padding:3px 5px; background:none; }
.eve-response > .message > * + * { border-top: 1px solid rgba(0, 184, 241, 0.3); margin:10px 0; padding-top:10px; }
.eve-response .message-text {  padding:5px 10px; border-radius:0 0 3px 3px; font-size:10pt; color: rgba(255,255,255, 0.45); }
.eve-response .results { padding: 5px 10px; padding-top:8px; }
.eve-response .sender { text-align:right; }
.sender { display:none; font-size: 8pt; color: #666; margin: 0 2px; margin-top:2px; }
.sender.eve { color: rgba(216, 101, 249, 1.5); }

.chat-input-container { -webkit-flex:none; flex:none; -webkit-flex-direction:row; flex-direction:row; padding:0px; }
.chat-input { display:inline-block; -webkit-flex:1; flex: 1; color: #ccc; font-size:16px; font-weight:300; font-family:"Helvetica Neue"; display:inline-block; background:none; border:none; }
.chat-input::-webkit-input-placeholder { color: #777; }
.CodeMirror div { display:block; -webkit-flex-direction:row; -webkit-flex:none; }
.CodeMirror { line-height: 1.5em; font-family:"Helvetica Neue"; font-size:16px; }
.chat-input .CodeMirror { display:block; height:auto; background:none; color: #ccc; font-size:10pt; font-family: "Helvetica Neue";  }
.chat-input .CodeMirror-scroll { height:auto; }

.submit { cursor:default; justify-content:center; -webkit-justify-content:center; border-radius:3px; padding:0 15px; background: rgba(255,255,255,0.1); font-size:10pt; }
.submit:hover { background:rgba(255,255,255,0.2); }

.cell.chart { -webkit-align-items:flex-start; align-items:stretch;}
.cell.chart .column { -webkit-flex:1; flex: 1; align-items:center; -webkit-align-items:center; }
.cell.chart .column:before { border:none; }
.cell.chart .bottom-controls { -webkit-align-items:center; align-items:center; -webkit-flex-direction:row; flex-direction:row; }
.cell.chart .bottom-controls > * + * { margin-left:5px; }
.cell.chart .chart-container {  }
chart { fill: #ccc; }
.c3-axis line, .c3-axis path { stroke: #666; }
.attribute-blank { min-width:20px; padding:2px 3px; background: #444; border-radius:3px; align-items:center; -webkit-align-items:center; }

.dark .madlib .blue .value,
.dark .madlib .blue.column:before,
.dark .madlib .blue.column:after,
.dark .attribute-blank.blue {  background: rgb(44, 108, 128); }

.dark .madlib .green .value,
.dark .madlib .green.column:before,
.dark .madlib .green.column:after,
.dark .attribute-blank.green {  background: hsl(136, 36%, 43%) }

.dark .madlib .red .value,
.dark .madlib .red.column:before,
.dark .madlib .red.column:after,
.dark .attribute-blank.red {  background: hsl(349, 60%, 42%); }

.dark .madlib .purple .value,
.dark .madlib .purple.column:before,
.dark .madlib .purple.column:after,
.dark .attribute-blank.purple {  background: rgb(124, 49, 146); }

.dark .madlib .orange .value,
.dark .madlib .orange.column:before,
.dark .madlib .orange.column:after,
.dark .attribute-blank.orange {  background: hsl(30, 82%, 35%); }

.dark .madlib .teal .value,
.dark .madlib .teal.column:before,
.dark .madlib .teal.column:after,
.dark .attribute-blank.teal {  background: hsl(177, 93%, 28%); }

.light { background: #ccc; }
.light .chat-input .CodeMirror { color: #333; }
.light .madlib .value { background: #eee; box-shadow:none; border:1px solid #ccc; }
.light .madlib-text { color: #666; }
.light .madlib .value { color: #333; }
.light .remove { color: #ccc; }
.light .remove:hover { color: #555; }
.light .user-message { border:none; border-radius:3px 0 0 3px; }
.light .user-message .value {  box-shadow:none; }
.light .eve-response { background: #f7f7f7; border:none; border:none; border-left:1px solid #ddd; color: #555; }
.light .eve-response .value { border-color: #bbb;}
.light .eve-response > .message > * + * { border-top: 1px solid #ddd; }
.light .eve-response .message-text { color: #888; }
.light .controls .button { display:none; background:none; border:none; color: #ccc; }
.light .item:hover .controls .button { display:flex; }
.light .controls .button:hover { color:#555; }
.light .attribute-blank { background: none; border:1px solid #ccc; }
.light .item { background: #fff; border:none; box-shadow: 0 2px 2px #999; margin-bottom:10px; }

.light .madlib .blue .value,
.light .madlib .blue.column:before,
.light .madlib .blue.column:after,
.light .attribute-blank.blue {  border-color: rgb(0, 194, 255); background: rgba(0, 194, 255, 0.1); }

.light .madlib .green .value,
.light .madlib .green.column:before,
.light .madlib .green.column:after,
.light .attribute-blank.green {  border-color: rgb(3, 195, 15); }

.light .madlib .red .value,
.light .madlib .red.column:before,
.light .madlib .red.column:after,
.light .attribute-blank.red {  border-color: rgb(195, 3, 59); }

.light .madlib .purple .value,
.light .madlib .purple.column:before,
.light .madlib .purple.column:after,
.light .attribute-blank.purple {  border-color: rgb(197, 0, 255);  background: rgba(197, 0, 255, 0.1); }

.light .madlib .orange .value,
.light .madlib .orange.column:before,
.light .madlib .orange.column:after,
.light .attribute-blank.orange {  border-color: rgb(255, 161, 0); }

.light .madlib .teal .value,
.light .madlib .teal.column:before,
.light .madlib .teal.column:after,
.light .attribute-blank.teal {  border-color: rgb(0, 177, 183); }




