h3, h4 { font-weight:normal; font-size:16px; }

.container {
  box-shadow: 0 3px 8px #bbb;
  width: 400px;
  height: 711px;
  background: white;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.scroll {
  flex: 1;
  overflow: auto;
  display:flex;
  flex-direction:column;
}

.avatar {
  width: 128;
  height: 128;
}

.banner {
  background: linear-gradient(-90deg, rgb(74,64,136), rgb(0,158,224));
  width: 100%;
  height: 150px;
  flex:none;
}

.avatar-container {
  border-radius: 6px;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border: 5px solid white;
  margin: auto;
  margin-top: -60px;
}

.name2 {
  width: 100%;
  text-align: center;
  color: rgb(11,11,37);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.info {
  width: 100%;
  text-align: center;
  color: rgb(147,167,178);
  color: #999;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.navigation {
  display: flex;
  flex:none;
  border-top: 1px solid #eee;
  padding:5px 0;
}

.nav-button {
  position:relative;
  flex-grow: 1;
  text-align: center;
  height: 60px;
  cursor: pointer;
  color: #999;
}

.icon {
  font-size: 30px;
  padding: 3px;
  height: 35px;
  margin-top:2px;
}

.middle {
  border-right: 1px solid #eee;
}

.bubble {
  position: absolute;
  top:8px;
  left: 56px;
  color: white;
  font-weight: bold;
}

.content {
  margin-top: 10px;
  padding: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.convo {
  height: 280px;
  margin-bottom: 10px;
  padding: 10px 20px;
  overflow: auto;
}

.msg-avatar {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  float: left;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.msg-name {
  font-weight: bold;
  color: #555;
  margin-top:2px;
  margin-bottom:2px;
}

.msg {
  margin-bottom: 10px;
  min-height: 40px;
  flex:none;
}

.thread:first-child { margin-top:30px; border-top:1px solid #eee; }

.thread {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  align-items: center;
  color: #999;
}

.thread img {}

.thread-box {
  flex-grow: 1;
}

.archive {
  cursor: pointer;
  color: #999;
  font-size: 25px;
}

.contact-avatar {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}

.contact-name {
  font-weight: bold;
  font-size: 18px;
  margin-top:3px;
  margin-bottom: 5px;
  color: #666;
}

.contact {
  flex: none;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  color: #999;
}

.contact:first-child { margin-top: 20px; border-top:1px solid #eee; }

.recent-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.msg-input {
  width: 360px;
  margin: 0 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  font-size: 12pt;
}

.msg-time {
  color: rgb(175,175,175);
  margin-left: 10px;
  font-size: 12px;
}

.about { padding: 0 40px; padding-top: 10px; }

.about-line {
  display: flex;
  flex-direction:column;
  margin-top:20px;
}

.about-label, .about h3 {
  color: rgb(152, 171, 181);
  color: #999;
  margin-bottom:6px;
  font-size: 14px;
}

.about h3 { margin-top:20px; margin-bottom:10px; }
.about img { border-radius:4px; border:1px solid #ddd; }

.plus {
  background-color: rgb(111, 165, 81);
  color: white;
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

a {
 color: rgb(0,158,224);
 line-height: 20px;
 text-decoration: none;
 border-bottom: 1px dashed rgb(0,158,224);
}

a:hover {
  color: rgb(91,89,164);
}

.more {
  padding: 0 40px;
}

.more h2 { font-weight: normal; font-size: 16pt; margin-top: 30px; margin-bottom: 10px; }

.more ul { margin: 5px 0; }
.more li { margin-bottom:8px; }

.button {
  background-color: rgb(111, 165, 81);
  color: white;
  width: 80%;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding-top: 4px;
  cursor: pointer;
}