.program {
    margin: 0 auto;
    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.todoapp {
    flex: 0 0 auto;
    min-width: 450px;
    max-width: 650px;
    height: auto;
    margin: 130px auto 40px auto;

    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.todoapp button,
.todoapp input[type="checkbox"] {
    outline: none;
}

.todoapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoapp input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.todoapp .hidden {
    display: none !important;
}

.todoapp .new-todo,
.todoapp .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.todoapp .new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todoapp .toggle-all {
    position: absolute;
    top: 12px;
    left: -10px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none; /* Mobile Safari */
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}
.todoapp .toggle-all:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}
.todoapp .toggle-all:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todoapp .main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.todoapp .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todoapp .todo-list li {
    position: relative;
    padding-left: 40px;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.todoapp .todo-list li:last-child {
    border-bottom: none;
}

.todoapp .todo-list li.editing {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    padding: 0;
    height: 44px;
}

.todoapp .todo-list li.editing .edit {
    display: flex;
    flex: 1;
    padding: 13px 15px 12px 15px;
    margin: -1px 0 0 43px;
}

.todoapp .todo-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}

.todoapp .todo-list li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todoapp .todo-list li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todoapp .todo-list li label {
    white-space: pre-line;
    word-break: break-all;
    margin-left: 12px;
    padding: 8px 6px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.todoapp .todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todoapp .todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.todoapp .todo-list li .destroy:hover {
    color: #af5b5e;
}

.todoapp .todo-list li .destroy:after {
    position: relative;
    content: "×";
    top: 8px;
}

.todoapp .todo-list li:hover .destroy {
    display: block;
}

.todoapp footer {
    color: #777;
    padding: 10px 15px;
    height: 41px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.todoapp footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6,
        0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todoapp .todo-count {
    float: left;
    text-align: left;
}

.todoapp .todo-count strong {
    font-weight: 300;
}

.todoapp .clear-completed,
html .todoapp .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.todoapp .clear-completed:hover {
    text-decoration: underline;
}


.todoapp .filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.todoapp .filters li {
    display: inline;
}

.todoapp .filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.todoapp .filters li a.selected,
.todoapp .filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.todoapp .filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
