body { height:100vh; font-family: "Helvetica Neue"; background: #444; }
body * { box-sizing: border-box; }
body > .__root {width:100%; height: 100%; display:flex; flex:1; }
div { display: flex; flex-direction: column; }

/*---------------------------------------------------------
- rendered program styles
---------------------------------------------------------*/
.rendered-program { position:relative; overflow:auto; flex:1; align-items:center; justify-content: center;}
.rendered-program > div { width:1080px; flex:1; position:relative; background:white; box-shadow: 0 0 20px #111; }
.rendered-program * {background-size: contain; background-repeat:no-repeat; font-family: "Helvetica Neue";}
.rendered-program .absolute { position:absolute; overflow:hidden; cursor:default; text-align:left; background-size:100%; }
.rendered-program .layer {flex: 1; position:absolute; }
.rendered-program .layer.repeat-h { flex-direction:row; }
.rendered-program .repeat-container { position:relative; }
.rendered-program .non-interactive { pointer-events:none; }
.rendered-program input { padding-left:15px; border: none; }
