body { height:100vh; -webkit-user-select: none; background: rgba(36,41,41,1); color: #ccc; font-family: Avenir, Arial; overflow: hidden;}
body * { box-sizing: border-box; }
.__root {width: 100%; height: 100%; display:flex; }
.__root * { display: flex; flex-direction: column; }

.root { flex: 1; }

.hover-reveal { opacity: 0; transition: all 0.2s ease-in-out; }
div:hover > .hover-reveal { opacity: 1; }

/*---------------------------------------------------------
- control bar
---------------------------------------------------------*/

.control-bar { background: rgba(62,73,75,1); border-bottom:1px solid rgba(53,64,76,1); align-items:flex-start; flex-direction:row; }
.control-bar .control-group { flex-direction:row; }
.control-bar .control-group + .control-group { border-left: 1px solid rgba(45,56,57,1); }
.control-bar .control { height:40px; padding: 0 15px; justify-content:center;  }
.control-bar .control + .control { padding-left: 0; }
.control-bar .menu-toggle { border-right: 1px solid rgba(45,56,57,1); padding: 0 15px; align-items:center; height:40px; justify-content:center; }

/*---------------------------------------------------------
- option bar
---------------------------------------------------------*/

.option-bar { background: rgba(89,100,102,1); min-height:30px; flex-direction:row; align-items:center; }
.option-bar .option-group { flex-direction:row; }
.option-bar .option-group + .option-group { border-left: 1px solid rgba(45,56,57,1); }

/*---------------------------------------------------------
- workspace content
---------------------------------------------------------*/

.content { flex: 1; }

/*---------------------------------------------------------
- color picker
---------------------------------------------------------*/

.color-picker { position:relative; min-width:20px; min-height:20px; }
.color-picker input { opacity: 0; position:absolute; }

/*---------------------------------------------------------
- adjustable and selectable
---------------------------------------------------------*/

.adjustable-shade { z-index: 10000; position:absolute; top: 0; bottom:0; left:0; right:0;}
.adjustable, .selectable { color: red; border-bottom:1px dashed red; }

.selectable { position:relative; }
.selectable select { opacity:0; position:absolute; width:100%; }

/*---------------------------------------------------------
- ui editor
---------------------------------------------------------*/

.ui-editor { flex: 1; }
.ui-editor .ui-canvas { position: relative; flex:1; }
.ui-editor .selection { position:absolute; border:1px solid red; z-index:2; pointer-events:none; }
.ui-editor .selection .resize-handle { position:absolute; border:1px solid red; background: rgba(255,0,0,0.2); z-index:2; pointer-events:auto; }
.ui-editor .selection .trash { position:absolute; right: -25px; top: -25px; font-size: 18pt; pointer-events:auto; }

.ui-element { background:rgba(255,255,255,0.1); position:absolute; }
.ui-element .selected { z-index: 10 !important; }

/*---------------------------------------------------------
- query editor
---------------------------------------------------------*/

.query-editor { height: 100%; }

.query-workspace { flex-direction: row; flex: 2;}
.query-workspace > .pane { border-right: 1px solid #404040; }

/* shared */
.query-editor .close-btn { flex: 0 0 auto; margin-left: auto; }
.query-editor .close-btn:hover { margin-left: auto; color: #FF7070; }
.query-editor .close-btn:active { margin-left: auto; color: #CC5050; }

/* tree */
.tree.pane { flex-direction: column !important; }
.tree.bar { flex-direction: row !important; }
.tree .tree-item { padding: 0.2em 0.5em; }

.tree-item.pill {flex-shrink: 0; margin: 0 2px; border-radius: 0px; }

/* workspace */
.query-editor .workspace { position: relative; flex: 1; flex-direction: column; overflow-x: auto; padding-bottom: 3em;  }
.query-editor .workspace > .feed {margin: auto; background: rgba(0, 0, 0, 0.25); box-shadow: 0 0 128px 128px rgba(0, 0, 0, 0.25); }

.query-editor .workspace > .block { flex-shrink: 0; flex-direction: column; min-height: 4em; background: #404040; margin-bottom: 16px; padding-bottom: 4px; }
.query-editor .workspace > .block .block-title { flex-direction: row; font-weight: 100; font-size: 1.1em; color: #eee; padding: 4px; }
.query-editor .workspace > .block .block-title > h3 { margin: auto; }
.query-editor .workspace > .block .block-title > .close-btn { margin-left: 0; }

.query-editor .workspace .block-section { min-height: 2em; flex-direction: column; background: #303030; margin: 0 4px; }

.query-editor .workspace .view-selections { flex-wrap: wrap; align-items: center; padding: 2px 2px; }

.query-editor .view-sources { padding: 0 0px; }
.query-editor .view-sources > .view-source { flex-direction: row; flex-wrap: wrap; align-items: baseline; padding-bottom: 2px; border-bottom: 2px solid #404040; }

.query-editor .view-source-title { flex-direction: row; flex-shrink: 0; padding: 4px; background: #404040; color: #ddd; }
.query-editor .view-source-title > h4 { margin-right: 6px; }
.query-editor .field.pill { font-size: 14px; margin: 2px; background-color: #505050; color: #eee; }
.query-editor .field.pill:hover { background-color: #606060; box-shadow: 0 1px 2px 0 #202030; }
.query-editor .field.pill:active { background-color: #606060; box-shadow: 0 2px 4px 0 #202030; }

.query-editor .view-constraints { flex-direction: column; padding-bottom: 1em; }
.query-editor .view-constraint { flex-direction: row; padding-left: 0.3em; }
.query-editor .view-constraint > * { padding: 0.2em 0.2em; }
.query-editor .view-constraint .grip { flex-direction: row; }


.query-editor .workspace .token { position: relative; }
.query-editor .workspace .token.field .source { font-size: 0.8em; color: #aaa; }
.query-editor .workspace .token-selector, .workspace .selector { position: absolute; padding: 0.2em; z-index: 10; background: #101010; outline: none; }
.query-editor .workspace .selector-item:hover { background: rgba(255, 255, 255, 0.2); }

.query-editor .workspace .token-selector.value { flex-direction: row; }
.query-editor .token-selector.value > .type-selector li { flex: 0; padding: 0.2em; }

/* inspector */
.query-workspace > .inspector { flex: 1; border-left: 1px solid #404040; }


/* result */
.query-editor .query-result { flex: 1; border-top: 1px solid #404040; }
