* { box-sizing: border-box }
body { height:100vh; -webkit-user-select: none; background: #202020; color: #ccc; font-family: Avenir, Arial; display:flex; }
div { display:flex; }
div[contenteditable] { display:inline-block; }
.__root { flex: 1; display:flex; }

::-webkit-scrollbar { width: 8px; height: 8px; background: rgba(0, 0, 0, 0.1); border-radius: 3px; }
::-webkit-scrollbar-corner { display: none; }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.5); }

/*-----------------------------------------------------------------------------
- table
-----------------------------------------------------------------------------*/

th { background: rgba(255,255,255, 0.1); }
td, th { padding:3px 8px; min-width: 50px; text-align:left; }
td > *, th > * { min-width:30px; }
th:first-child { border-radius: 2px 0 0 2px; }
th:last-child { border-radius: 0 2px 2px 0; }

td .input { width:100%; }

.table-headers th { background: none; text-align:center; }
tr:hover td { background: rgba(255,255,255,0.05); }

.gap {background: none; padding: 0; min-width:10px;}

.failed { background: rgba(255,79,109,0.1); color: transparent; border:1px solid rgba(255,79,109,0.); border-left:none; text-align:left; }

/*-----------------------------------------------------------------------------
- neue
-----------------------------------------------------------------------------*/

.stage { display:flex; }
.root { flex:1; flex-direction:column; }

.stage-tiles-wrapper { overflow:auto; position:absolute; top:50px; bottom:0; left: 0; right:100px; }
.stage-tiles-wrapper::-webkit-scrollbar { display:none; }
.scrolling .stage-tiles-wrapper * { pointer-events:none !important;}

.stage-tiles { width:100%; }

.minimap { position:absolute; top:50px; bottom:0; right:0; width:100px; background:#1c1c1c; box-shadow:inset 0 0 5px #171717; border-left:0px solid #111; overflow:hidden;}
.minimap .thumb { position:absolute; z-index: 10; background:rgba(255,255,255,0.05); border:1px solid rgba(255,255,255, 0.25); border-radius:2px; }
.minimap .minimap-tile { position:absolute; background: #333; z-index:1; color:rgba(255,255,255, 0.5); font-size: 8pt; overflow:hidden; display:flex; justify-content:center; align-items:center; }
.minimap .minimap-tile.ui { background: #555; }
.minimap .minimap-tile.view { background: #355; }
.minimap .minimap-tile.table { background: #346; }

.grid-tile { display:flex; position: absolute; z-index: 1;  background: #2c2c2c; border-radius: 3px; transform-style: preserve-3d;  }
.grid-tile .tile { flex: 1; overflow:hidden; }
.grid-tile > .controls { opacity:0; padding: 5px 5px; flex:none; transition:opacity 0.2s ease-in-out; }
.grid-tile:hover > .controls { opacity:1; }

.tile-outline { border: 1px solid #acf; }

.ui-editor { flex: 1; }
.inspector { flex-direction:column; }
.controls { flex-direction:column; }
.layers { flex-direction: column; }
.layer { display:flex; }


.view-tile { display:flex; }
.view-source-code { flex-direction: column; }

.chooser-tile { display:flex; flex: 1; }
.chooser-tile .option { flex: 1; display:flex; flex-direction:column; align-items:center; justify-content:center; border-radius:2px; padding:0 15px; }
.chooser-tile .option:hover { background:rgba(255,255,255,0.1); }
.chooser-tile .description { text-align:center; }
.chooser-tile .icon { font-size: 40px; margin-bottom:10px; }

.ui-canvas {flex: 1; position:relative; overflow:hidden; background:#111; margin:10px; }
.ui-canvas .control { background:rgba(255,255,255, 0.08); }
.ui-canvas .resize-handle { position:absolute; background: rgba(170,204,255,0.3); border: 1px solid #acf; z-index: 1000; }

.resize-tile { transform: rotateZ(-45deg); overflow:hidden; position:absolute; bottom:0; }
