* { box-sizing: border-box; }
body { background:#202020; font-family: "Inconsolata"; }
webview { position:absolute; top:0; bottom:0; left: 0; right:0; z-index:0; }

.console-container { color: #ccc; overflow:hidden; display:flex; flex-direction:column; position:absolute; width: 55%; height:200px; bottom:0px; left:0px; transition:height 0.1s ease-in-out; z-index: 2; background: rgba(32,32,32,0.8); }
.console-container.hidden { height:0; }
.console-container .CodeMirror { flex: none; min-height: 50px; height:auto; }
.console-results { overflow:auto; padding:10px; max-height:150px; }
.console-results > * { margin-top:5px; display:flex; flex-direction:row; align-items:stretch; white-space:pre; }
.console-results .result { color: #0cf; }
.console-results .result:before { content: "=>"; font-size:8pt; margin-right: 5px; color: #777; display:flex; align-items:center; }
.console-results .error { color: #f68; }
.console-results .error:before { content: " "; font-size:8pt; margin-right: 12px; color: #777; background: #f68; display:flex; align-items:center; }


.editor-container { display:flex; flex-direction:column; position:absolute; width: 45%; top:0px; right:10px; bottom:0; transition:width 0.08s ease-in-out; z-index: 2; }
.editor-container.hidden { width:0; }

.CodeMirror { font-family: "Inconsolata"; font-size: 10pt; line-height:1.25; flex:1; height:100%; }
.CodeMirror.cm-s-pastel-on-dark { background: rgba(32,32,32,0.8); }
.CodeMirror.cm-s-material { background: rgba(32,32,32,0.8);  }

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: none;
  background: #3a3a3a;
  font-size: 90%;
  font-family: "Inconsolata";
  max-height: 5em;
  overflow-y: auto;
  color
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: #ccc;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #505070;
  color: white;
}
